@charset "UTF-8";
@font-face {
  font-family: "Articulat CF Light";
  src: url("../fonts/ArticulatCF-Light.woff2") format("woff2"), url("../fonts/ArticulatCF-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Articulat CF Medium";
  src: url("../fonts/ArticulatCF-Medium.woff2") format("woff2"), url("../fonts/ArticulatCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Articulat CF Normal";
  src: url("../fonts/ArticulatCF-Normal.woff2") format("woff2"), url("../fonts/ArticulatCF-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-600";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-600.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-900";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-900.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-regular";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69");
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?za5w69") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?za5w69") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?za5w69#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*--tiny-slider--*/
.tns-outer {
  padding: 0 !important;
}

.tns-outer [hidden] {
  display: none !important;
}

.tns-outer [aria-controls], .tns-outer [data-action] {
  cursor: pointer;
}

.tns-slider {
  transition: all 0s;
}

.tns-slider > .tns-item {
  box-sizing: border-box;
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap;
}

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.tns-horizontal.tns-no-subpixel:after {
  content: "";
  display: table;
  clear: both;
}

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
}

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%;
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  transition: transform 0s, opacity 0s;
}

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important;
}

.tns-gallery > .tns-moving {
  transition: all 0.25s;
}

.tns-autowidth {
  display: inline-block;
}

.tns-lazy-img {
  transition: opacity 0.6s;
  opacity: 0.6;
}

.tns-lazy-img.tns-complete {
  opacity: 1;
}

.tns-ah {
  transition: height 0s;
}

.tns-ovh {
  overflow: hidden;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}

.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.tns-vpfix {
  white-space: nowrap;
}

.tns-vpfix > div, .tns-vpfix > li {
  display: inline-block;
}

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden;
}

.tns-t-ct {
  width: 2333.3333333%;
  width: -moz-calc(100% * 70 / 3);
  width: 2333.3333333333%;
  position: absolute;
  right: 0;
}

.tns-t-ct:after {
  content: "";
  display: table;
  clear: both;
}

.tns-t-ct > div {
  width: 1.4285714%;
  width: -moz-calc(100% / 70);
  width: 1.4285714286%;
  height: 10px;
  float: left;
}


/*--end tiny-slider--*/
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--FormHandler-*/
/*--end FormHandler--*/
/*--spoilers-*/
/*--------------------adjustment----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 106.25%;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "Articulat CF Normal", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  min-width: 18.8235294118rem;
  position: relative;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #1A1A1A;
  background-color: #F2F2F2;
}
@media only screen and (max-width: 61.99875em) {
  .lock body {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    overflow-behavior: none;
  }
}

html, body {
  height: 100%;
}

.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
@supports (overflow: clip) {
  .main {
    overflow: clip;
  }
}
.main > * {
  min-width: 0;
}
.main .header {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.main .main-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.main .footer {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: auto;
}

a {
  color: inherit;
}

img {
  vertical-align: top;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

input input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

.input,
input {
  border-radius: 0;
  outline: none;
  display: block;
  width: 100%;
  border: 0 none;
}

textarea {
  resize: none;
  padding: 0 0;
}

[class*=__wrapper] {
  margin: 0 auto;
  padding-left: 0.5882352941rem;
  padding-right: 0.5882352941rem;
  max-width: 70.5882352941rem;
}
@media only screen and (max-width: 73.75em) {
  [class*=__wrapper] {
    padding-left: 1.7647058824rem;
    padding-right: 1.7647058824rem;
  }
}
@media only screen and (max-width: 86.25em) {
  [class*=__wrapper] {
    max-width: 60.2352941176rem;
  }
}

.hidden {
  display: none !important;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}
._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

._fit {
  position: relative;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center center;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px);
  }
}

.text-center {
  text-align: center;
}

.wht-bg {
  background-color: #fff;
}

.fab {
  position: fixed;
  width: 9.2941176471rem;
  height: 10.9329411765rem;
  top: 33.2352941176rem;
  left: 3.8194444444%;
  z-index: 20;
}
@media only screen and (max-width: 86.25em) {
  .fab {
    width: 6.5270588235rem;
    height: 7.6470588235rem;
    top: 24.5882352941rem;
    left: 0.8235294118rem;
  }
}
@media only screen and (min-width: 93.75em) {
  .fab {
    left: calc((100% - 84.7058823529rem) / 2 - 3.2352941176rem);
  }
}

.fab__phone,
.fab__drive {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: opacity 0.5s ease;
}
.fab__phone img,
.fab__drive img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

@media only screen and (max-width: 86.25em) {
  .fab__phone {
    width: 4.6876470588rem;
  }
}
.drive .fab__phone {
  opacity: 0;
}

.fab__drive {
  opacity: 0;
}
.drive .fab__drive {
  opacity: 1;
}

.blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  z-index: 21;
  display: none;
}
.search-open .blur {
  display: block;
}

/*--------------------END adjustment----------------------*/
/*--------------------ui----------------------*/
.btn {
  display: inline-block;
  text-decoration: none;
  color: #009245;
}
@media only screen and (max-width: 47.99875em) {
  .btn {
    font-size: 0.8235294118rem;
  }
}
@media (any-hover: hover) {
  .btn {
    cursor: pointer;
  }
  .btn:hover {
    font-family: "Articulat CF Medium", sans-serif;
  }
}
@media only screen and (max-width: 47.99875em) {
  .btn {
    position: relative;
  }
  .btn:after {
    content: "";
    position: absolute;
    bottom: -0.1764705882rem;
    left: 0;
    right: 0;
    height: 0.0588235294rem;
    background-color: #009245;
  }
}

.toggle-mnu {
  position: relative;
  z-index: 6;
  display: none;
  width: 1.3617647059rem;
  height: 0.8235294118rem;
  margin-top: -0.8235294118rem;
  padding: 0;
  background-color: transparent;
  border: none;
}
.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4117647059rem;
}
.toggle-mnu span:after {
  top: 0.8235294118rem;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 0.0588235294rem;
  background-color: #000;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.1176470588rem;
}
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on span:before {
  -ms-transform: rotate(45deg) translate(-0.1176470588rem, 0);
  transform: rotate(45deg) translate(-0.1176470588rem, 0);
}
.toggle-mnu.on span:after {
  -ms-transform: rotate(-45deg) translate(0.2941176471rem, -0.4117647059rem);
  transform: rotate(-45deg) translate(0.2941176471rem, -0.4117647059rem);
}

.heading__subtitle {
  margin-bottom: 0.0905882353rem;
  font-size: 1.2941176471rem;
}
@media only screen and (max-width: 86.25em) {
  .heading__subtitle {
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .heading__subtitle {
    font-size: 0.8823529412rem;
  }
}
.heading__title {
  font-size: 2.6470588235rem;
  font-family: "Articulat CF Medium", sans-serif;
}
@media only screen and (max-width: 86.25em) {
  .heading__title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .heading__title {
    font-size: 1.5882352941rem;
  }
}
.heading__title span {
  font-size: 1.2941176471rem;
}
@media only screen and (max-width: 86.25em) {
  .heading__title span {
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .heading__title span {
    font-size: 0.8823529412rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .heading {
    text-align: center;
  }
}

/*--------------------END ui----------------------*/
/*--------------------assortmetn----------------------*/
.assortment {
  padding-top: 3.7535294118rem;
  padding-bottom: 10.3294117647rem;
}
@media only screen and (max-width: 86.25em) {
  .assortment {
    padding-top: 3.3705882353rem;
    padding-bottom: 7.1947058824rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .assortment {
    padding-top: 2.5217647059rem;
    padding-bottom: 4.4541176471rem;
  }
}

.assortment__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 2.0294117647rem;
}
@media only screen and (max-width: 86.25em) {
  .assortment__content {
    margin-bottom: 2.7988235294rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .assortment__content {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.2941176471rem;
  }
}
@media only screen and (min-width: 47.99875em) {
  .assortment__content {
    column-gap: 10.1694915254%;
  }
}

@media only screen and (max-width: 47.99875em) {
  .assortment__text {
    text-align: center;
    -ms-flex-order: 2;
    order: 2;
  }
}
@media only screen and (min-width: 47.99875em) {
  .assortment__text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex: 0 0 49.1525423729%;
    flex: 0 0 49.1525423729%;
  }
}
.assortment__text p {
  line-height: 130%;
  font-size: 1.2941176471rem;
  font-family: "Articulat CF Light", sans-serif;
}
@media only screen and (max-width: 86.25em) {
  .assortment__text p {
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .assortment__text p {
    font-size: 0.8235294118rem;
  }
}
@media only screen and (min-width: 47.99875em) {
  .assortment__text p {
    max-width: 18.4117647059rem;
    text-align: right;
  }
}
@media only screen and (max-width: 47.99875em) {
  .assortment__text p br {
    display: none;
  }
}

.assortment__picts {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  column-gap: 1.9411764706rem;
}
@media only screen and (max-width: 47.99875em) {
  .assortment__picts {
    margin-bottom: 2.6888235294rem;
    column-gap: 1.2082352941rem;
  }
}
@media only screen and (min-width: 47.99875em) {
  .assortment__picts {
    margin-bottom: 0.3529411765rem;
  }
}

.assortment__pict {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 4.2941176471rem;
  max-height: 5.2352941176rem;
}
@media only screen and (max-width: 47.99875em) {
  .assortment__pict:first-child {
    max-width: 1.1958823529rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .assortment__pict:nth-child(2) {
    max-width: 2.6741176471rem;
  }
}
.assortment__pict img {
  display: block;
  max-width: 100%;
  min-height: 100%;
}

.assortment__shedule {
  max-width: 5.8423529412rem;
  font-size: 3.19rem;
  font-family: "Articulat CF Light", sans-serif;
  line-height: 0.6;
  color: #009245;
}
@media only screen and (max-width: 86.25em) {
  .assortment__shedule {
    max-width: 5.2352941176rem;
    font-size: 2.7241176471rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .assortment__shedule {
    max-width: 3.8235294118rem;
    font-size: 1.9858823529rem;
  }
}
.assortment__shedule img {
  display: block;
  max-width: 100%;
  min-height: 100%;
}

.assortment__bottom {
  font-size: 1.2941176471rem;
  font-family: "Articulat CF Medium", sans-serif;
  text-align: center;
}
@media only screen and (max-width: 86.25em) {
  .assortment__bottom {
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .assortment__bottom {
    font-size: 0.8235294118rem;
  }
}
@media only screen and (min-width: 47.99875em) {
  .assortment__bottom {
    max-width: 49.1525423729%;
    text-align: right;
  }
}

/*--------------------END assortmetn----------------------*/
/*--------------------footer----------------------*/
.footer {
  padding-top: 3.6988235294rem;
  padding-bottom: 7.5652941176rem;
  color: #4D4D4D;
  background-color: #E6E6E6;
}
@media only screen and (max-width: 86.25em) {
  .footer {
    padding-top: 4.1176470588rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .footer {
    padding-top: 2.4258823529rem;
    padding-bottom: 3.6941176471rem;
  }
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10.5882352941rem 1fr;
  grid-template-columns: 10.5882352941rem 1fr;
  grid-column-gap: 1.1764705882rem;
}
@media only screen and (max-width: 86.25em) {
  .footer__wrapper {
    -ms-grid-columns: 12.9411764706rem 1fr;
    grid-template-columns: 12.9411764706rem 1fr;
    grid-column-gap: 3.3529411765rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .footer__wrapper {
    -ms-grid-columns: 6.4705882353rem 1fr;
    grid-template-columns: 6.4705882353rem 1fr;
    grid-column-gap: 1.2458823529rem;
  }
}

.footer__logo {
  margin-bottom: 2.8235294118rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media only screen and (max-width: 86.25em) {
  .footer__logo {
    margin-bottom: 1.9411764706rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .footer__logo {
    margin-bottom: 2.7547058824rem;
  }
}
.footer__logo img {
  max-width: 9.07rem;
  width: 100%;
  display: block;
}
@media only screen and (max-width: 47.99875em) {
  .footer__logo img {
    max-width: none;
    width: 100%;
  }
}

.menu-footer {
  padding-top: 0.6470588235rem;
  padding-left: 4.2352941176rem;
}
@media (max-width: 73.75em) {
  .menu-footer {
    padding-left: clamp( 0rem , -1.2100840336rem  +  6.4285714286vw , 4.2352941176rem );
  }
}
@media only screen and (max-width: 86.25em) {
  .menu-footer {
    padding-left: 0;
  }
}
@media only screen and (max-width: 61.99875em) {
  .menu-footer {
    -ms-grid-row: span 2;
    grid-row: span 2;
    padding-top: 0.1176470588rem;
  }
}

.menu-footer__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 4.0588235294rem;
}
@media (max-width: 73.75em) {
  .menu-footer__list {
    column-gap: clamp( 0rem , -1.1596638655rem  +  6.1607142857vw , 4.0588235294rem );
  }
}
@media only screen and (max-width: 86.25em) {
  .menu-footer__list {
    column-gap: 1.8235294118rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .menu-footer__list {
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 0.6970588235rem;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.menu-footer__item {
  list-style-type: none;
}

.menu-footer__link {
  font-size: 0.8529411765rem;
  font-family: "Articulat CF Medium", sans-serif;
  text-decoration: none;
  color: #333333;
}
@media only screen and (max-width: 86.25em) {
  .menu-footer__link {
    font-size: 0.8235294118rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .menu-footer__link {
    font-size: 0.7058823529rem;
  }
}

.footer__socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 0.2705882353rem;
}

.socials-footer__item {
  list-style-type: none;
}
.socials-footer__item:not(:last-child) {
  margin-bottom: 0.8282352941rem;
}
@media only screen and (max-width: 47.99875em) {
  .socials-footer__item:not(:last-child) {
    margin-bottom: 0.9564705882rem;
  }
}

.socials-footer__link {
  display: block;
  width: 2.4705882353rem;
  height: 2.4705882353rem;
}
@media only screen and (max-width: 47.99875em) {
  .socials-footer__link {
    width: 1.7176470588rem;
    height: 1.7176470588rem;
  }
}
.socials-footer__link img {
  display: block;
  width: 100%;
  max-height: 100%;
}

.footer__info {
  font-family: "Articulat CF Medium", sans-serif;
  font-size: 0.8529411765rem;
  padding-left: 2.8823529412rem;
}
@media (max-width: 73.75em) {
  .footer__info {
    padding-left: clamp( 0rem , -0.8235294118rem  +  4.375vw , 2.8823529412rem );
  }
}
@media only screen and (max-width: 86.25em) {
  .footer__info {
    padding-left: 0;
    font-size: 0.7647058824rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .footer__info {
    -ms-grid-column: span 2;
    grid-column: span 2;
    margin-top: 1.8552941176rem;
    font-size: 0.7058823529rem;
  }
}

.footer__inns {
  margin-top: 1.6470588235rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: end;
  align-items: flex-end;
  column-gap: 1.3529411765rem;
  row-gap: 0.2941176471rem;
}
@media only screen and (max-width: 47.99875em) {
  .footer__inns {
    column-gap: 0.3529411765rem;
    margin-top: 1.1764705882rem;
  }
}

.info-footer__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: end;
  align-items: flex-end;
  column-gap: 0.5882352941rem;
}
.info-footer__row:first-child {
  margin-bottom: 0.6470588235rem;
}
@media only screen and (max-width: 36em) {
  .info-footer__row--questions {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.info-footer__row--questions .info-footer__col {
  margin-bottom: 0.6470588235rem;
}
.info-footer__row--address {
  font-style: normal;
}
@media only screen and (max-width: 36em) {
  .info-footer__row--address {
    column-gap: 0.3529411765rem;
  }
}

.info-footer__col {
  line-height: 150%;
}
@media only screen and (max-width: 47.99875em) {
  .info-footer__col span {
    display: block;
    margin-bottom: 0.6470588235rem;
  }
}

/*--------------------END footer----------------------*/
/*--------------------header----------------------*/
.header {
  position: sticky;
  z-index: 22;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.88);
}
.header--dark {
  background-color: rgba(51, 51, 51, 0.88);
}
.search-open .header {
  background-color: transparent;
}

.header__wrapper {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease; /*опционально*/
}

.header__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 3.7647058824rem;
}
@media only screen and (max-width: 61.99875em) {
  .header__body {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 61.99875em) {
  .header__body {
    min-height: 3.0588235294rem;
  }
}

.header__logo {
  max-width: 1.8888235294rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 6.1111764706rem;
}
@media (max-width: 73.75em) {
  .header__logo {
    margin-right: clamp( 0.5882352941rem , -0.9897478992rem  +  8.3830357143vw , 6.1111764706rem );
  }
}
.header__logo img {
  width: 100%;
}
@media only screen and (max-width: 73.75em) {
  .header__logo {
    margin-right: 2.5294117647rem;
  }
}

.menu-header {
  margin-top: 0.4117647059rem;
}
.menu-header .menu-header__body:before {
  content: "";
  height: 3.0588235294rem;
  width: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  background-color: #fff;
  transition: right 0.4s ease;
}
.menu-opened .menu-header .menu-header__body:before {
  right: 0;
}
@media only screen and (min-width: 61.99875em) {
  .menu-header .menu-header__body:before {
    display: none;
  }
}
.menu-opened .menu-header .menu-header__body {
  right: 0;
}
@media screen and (max-width: 61.99875em) {
  .menu-header .menu-header__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.menu-header .toggle-mnu span, .menu-header .toggle-mnu span:after, .menu-header .toggle-mnu span:before {
  background-color: #fff;
}
.menu-opened .menu-header .toggle-mnu span, .menu-opened .menu-header .toggle-mnu span:after, .menu-opened .menu-header .toggle-mnu span:before {
  background-color: #1A1A1A;
}
.menu-header .toggle-mnu.on span {
  background-color: transparent;
}
@media screen and (max-width: 61.99875em) {
  .menu-header .toggle-mnu {
    display: block;
  }
}
@media only screen and (max-width: 61.99875em) {
  .menu-header {
    margin-left: auto;
  }
}
@media only screen and (min-width: 61.99875em) {
  .menu-header {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
@media only screen and (max-width: 61.99875em) {
  .menu-header .menu-header__body {
    height: 100svh;
  }
}

@media only screen and (max-width: 61.99875em) {
  .menu-header__body {
    background-color: #fff;
  }
}

.menu__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 2.8235294118rem;
  row-gap: 0.2941176471rem;
}
@media (max-width: 73.75em) {
  .menu__list {
    column-gap: clamp( 0.5882352941rem , -0.0504201681rem  +  3.3928571429vw , 2.8235294118rem );
  }
}
@media only screen and (max-width: 73.75em) {
  .menu__list {
    column-gap: 1.7058823529rem;
  }
}
@media only screen and (max-width: 86.25em) {
  .menu__list {
    column-gap: 2.6470588235rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .menu__list {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    row-gap: 1.4705882353rem;
    padding: 5.5882352941rem 1.7647058824rem 1.7647058824rem 1.7647058824rem;
  }
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  font-size: 0.9117647059rem;
  color: #1A1A1A;
  letter-spacing: 0.3;
  text-decoration: none;
}
.header--dark .menu__link {
  color: #fff;
}
@media only screen and (max-width: 61.99875em) {
  .header--dark .menu__link {
    color: #1A1A1A;
  }
}
@media only screen and (max-width: 73.75em) {
  .menu__link {
    font-size: 0.8235294118rem;
  }
}
@media only screen and (max-width: 86.25em) {
  .menu__link {
    font-size: 0.7058823529rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .menu__link {
    font-size: 1.2941176471rem;
    color: #1A1A1A;
    font-family: "Articulat CF Medium", sans-serif;
  }
}

.header__search-button {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 0.4117647059rem;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: 4.6882352941rem;
  width: 1.0817647059rem;
  height: 1rem;
}
@media (any-hover: hover) {
  .header__search-button {
    cursor: pointer;
  }
}
@media (max-width: 73.75em) {
  .header__search-button {
    margin-left: clamp( 0.5882352941rem , -0.5831932773rem  +  6.2232142857vw , 4.6882352941rem );
  }
}
@media only screen and (max-width: 73.75em) {
  .header__search-button {
    margin-left: 2.0858823529rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .header__search-button {
    margin-left: 1.7258823529rem;
    width: 1.1682352941rem;
    height: 1.08rem;
  }
}
.header__search-button img, .header__search-button svg {
  width: 100%;
  max-height: 100%;
}

.header__serch-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 23.2352941176rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(51, 51, 51, 0.88);
}
@media only screen and (max-width: 86.25em) {
  .header__serch-area {
    position: fixed;
    height: 100%;
  }
}
.search-open .header__serch-area {
  visibility: visible;
  opacity: 1;
}

.serch-form-header {
  padding-top: 7rem;
}
@media only screen and (min-width: 61.99875em) {
  .serch-form-header {
    padding-left: 4.7764705882rem;
  }
}

.serch-form-header__label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 1.8235294118rem;
}

.serch-form-header__submit {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 1.4635294118rem;
  height: 1.3529411765rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (any-hover: hover) {
  .serch-form-header__submit {
    cursor: pointer;
  }
}
.serch-form-header__submit img {
  width: 100%;
  max-height: 100%;
}

.serch-form-header__input {
  height: 2.1764705882rem;
  background-color: transparent;
  font-size: 1.4117647059rem;
  line-height: 1.36;
  font-family: inherit;
  color: #fff;
  letter-spacing: 0.0294117647rem;
}
.serch-form-header__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.serch-form-header__input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.serch-form-header__input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.serch-form-header__input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

/*--------------------END header----------------------*/
/*--------------------hero----------------------*/
.hero {
  position: relative;
  min-height: 44.5376470588rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #EFF2F7;
}
@media only screen and (max-width: 61.99875em) {
  .hero {
    min-height: 34.0588235294rem;
  }
}
@media only screen and (min-width: 61.99875em) {
  .hero {
    min-height: 35.2941176471rem;
  }
}
@media only screen and (min-width: 73.75em) {
  .hero {
    height: calc(100svh - 64px);
    min-height: 0;
  }
}

.hero__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}

.hero__content {
  max-width: 19.4117647059rem;
  height: 100%;
  width: 100%;
  margin-bottom: 8.3333333333%;
  margin-right: 64.9305555556%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 86.25em) {
  .hero__content {
    margin-right: 61.71875%;
  }
}
@media only screen and (max-width: 47.99875em) {
  .hero__content {
    max-width: 13.6470588235rem;
  }
}
@media only screen and (max-width: 36em) {
  .hero__content {
    margin-right: 20%;
    max-width: none;
    margin-left: 0;
  }
}
@media only screen and (min-width: 47.99875em) {
  .hero__content {
    max-width: none;
  }
}
@media only screen and (min-width: 61.99875em) {
  .hero__content {
    margin-bottom: 22.2222222222%;
  }
}
@media only screen and (min-width: 86.25em) {
  .hero__content {
    margin-bottom: 8.3333333333%;
  }
}

.hero__slogan {
  font-family: "Articulat CF Medium", sans-serif;
  margin-bottom: 1.7647058824rem;
  font-size: 1.2941176471rem;
  color: #1A1A1A;
  text-align: right;
}
@media only screen and (max-width: 86.25em) {
  .hero__slogan {
    font-size: 1.1176470588rem;
    margin-bottom: 1.4705882353rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .hero__slogan {
    font-size: 0.8823529412rem;
    margin-bottom: 0.7058823529rem;
  }
}

.hero__logo {
  width: 100%;
  max-width: 16.0588235294rem;
  margin-bottom: 2.7647058824rem;
}
@media only screen and (max-width: 86.25em) {
  .hero__logo {
    margin-bottom: 2.4117647059rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .hero__logo {
    max-width: 10.5882352941rem;
  }
}
.hero__logo img {
  display: block;
  width: 100%;
}

.hero__text {
  line-height: 130%;
  text-align: right;
}
@media only screen and (max-width: 86.25em) {
  .hero__text {
    font-size: 0.8823529412rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .hero__text {
    font-size: 0.7647058824rem;
  }
}

.hero__image {
  padding-bottom: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  right: -10%;
}
@media only screen and (max-width: 85.375em) {
  .hero__image {
    right: -10%;
  }
}
@media only screen and (max-width: 61.99875em) {
  .hero__image {
    right: -30%;
  }
}
@media only screen and (max-width: 36em) {
  .hero__image {
    right: -60%;
    width: 200%;
  }
}
@media only screen and (max-width: 30em) {
  .hero__image {
    right: -108%;
  }
}
.hero__image ._fit-img {
  width: 94.6243055556%;
  object-position: right top;
}
@media only screen and (max-width: 61.99875em) {
  .hero__image ._fit-img {
    object-position: right bottom;
  }
}

/*--------------------END hero----------------------*/
/*--------------------main-slider----------------------*/
.main-slider {
  padding-top: 12.2405882353rem;
  padding-bottom: 24.9211764706rem;
}
@media only screen and (max-width: 86.25em) {
  .main-slider {
    padding-top: 8.1982352941rem;
    padding-bottom: 16.4223529412rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .main-slider {
    padding-top: 5.3388235294rem;
    padding-bottom: 9.2223529412rem;
  }
}

.main-slider__title {
  margin-bottom: 6rem;
  font-size: 1.2941176471rem;
}
@media only screen and (max-width: 86.25em) {
  .main-slider__title {
    margin-bottom: 5.2111764706rem;
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .main-slider__title {
    margin-bottom: 2.3264705882rem;
    font-size: 0.8235294118rem;
  }
}

.main-slider__carousel [data-action=stop],
.main-slider__carousel [data-action=start] {
  display: none;
}
.main-slider__carousel .tns-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 6.5082352941rem;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5664705882rem;
}
@media only screen and (max-width: 86.25em) {
  .main-slider__carousel .tns-nav {
    margin-top: 5.2352941176rem;
    column-gap: 0.7805882353rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .main-slider__carousel .tns-nav {
    column-gap: 0.5129411765rem;
    margin-top: 4.5158823529rem;
  }
}
.main-slider__carousel .tns-nav button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 0.5958823529rem;
  height: 0.5958823529rem;
  border-radius: 50%;
  background-color: #4D4D4D;
}
@media (any-hover: hover) {
  .main-slider__carousel .tns-nav button {
    cursor: pointer;
  }
}
@media only screen and (max-width: 47.99875em) {
  .main-slider__carousel .tns-nav button {
    width: 0.3917647059rem;
    height: 0.3917647059rem;
  }
}
.main-slider__carousel .tns-nav button.tns-nav-active {
  background-color: #009245;
}

.main-carousel__slide-wrap {
  aspect-ratio: 541/342;
  display: block;
}
@media only screen and (max-width: 86.25em) {
  .main-carousel__slide-wrap {
    aspect-ratio: 501.04/317.05;
  }
}
@media only screen and (max-width: 47.99875em) {
  .main-carousel__slide-wrap {
    aspect-ratio: 360/228.48;
  }
}

/*--------------------END main-slider----------------------*/
/*--------------------organize----------------------*/
.organize {
  position: relative;
  margin-top: -0.0588235294rem;
  padding-top: 4.9329411765rem;
  padding-bottom: 7.2941176471rem;
  background-color: #F2F2F2;
}
@media only screen and (max-width: 86.25em) {
  .organize {
    padding-top: 2.9564705882rem;
    padding-bottom: 5.7194117647rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize {
    padding-top: 3.2658823529rem;
    padding-bottom: 4.5882352941rem;
  }
}
.organize .heading {
  margin-bottom: 3.4741176471rem;
  margin-left: 36.8055555556%;
}
@media only screen and (max-width: 86.25em) {
  .organize .heading {
    margin-bottom: 2.2211764706rem;
    margin-left: 39.0625%;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize .heading {
    margin-bottom: 1.8535294118rem;
    margin-left: 0;
  }
}

.organize__options {
  max-width: 49.1525423729%;
  margin-left: 28.4722222222%;
  margin-bottom: 3.5729411765rem;
}
@media only screen and (max-width: 86.25em) {
  .organize__options {
    max-width: 36.71875%;
    margin-left: 31.54296875%;
    margin-right: 0;
    margin-bottom: 1.9688235294rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize__options {
    max-width: none;
    margin-left: 0;
  }
}
@media only screen and (max-width: 36em) {
  .organize__options {
    max-width: 11.7647058824rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.organize__option {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 7.7586206897%;
}
@media only screen and (max-width: 86.25em) {
  .organize__option {
    column-gap: 1.7647058824rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize__option {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    row-gap: 1.1176470588rem;
  }
}
.organize__option:not(:last-child) {
  margin-bottom: 3.0835294118rem;
}
@media only screen and (max-width: 86.25em) {
  .organize__option:not(:last-child) {
    margin-bottom: 1.0588235294rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize__option:not(:last-child) {
    margin-bottom: 1.1176470588rem;
  }
}
@media only screen and (max-width: 86.25em) {
  .organize__option--rost {
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize__option--rost {
    -ms-flex-align: center;
    align-items: center;
  }
}

.option-organize__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 3.1817647059rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 1s ease;
  -ms-transform: translateY(1.1764705882rem);
  transform: translateY(1.1764705882rem);
  opacity: 0;
}
.option-organize__icon.visible {
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 2;
}
@media only screen and (max-width: 86.25em) {
  .option-organize__icon {
    width: 2.7958823529rem;
    height: 2.6752941176rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .option-organize__icon {
    width: 2.2276470588rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .option-organize__icon--rost {
    width: 2.5805882353rem;
    height: 1.98rem;
  }
}
.option-organize__icon img {
  max-width: 100%;
  max-height: 100%;
}

.option-organize__text {
  font-size: 1.2882352941rem;
  line-height: 140%;
}
@media only screen and (max-width: 86.25em) {
  .option-organize__text {
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .option-organize__text {
    font-size: 0.8823529412rem;
  }
}
@media only screen and (min-width: 86.25em) {
  .option-organize__text br {
    display: none;
  }
}

.organize__bottom {
  padding-left: 36.8055555556%;
}
@media only screen and (max-width: 86.25em) {
  .organize__bottom {
    padding-left: 39.0625%;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize__bottom {
    padding-left: 0;
    text-align: center;
  }
}

/*--------------------END organize----------------------*/
/*--------------------premium----------------------*/
.premium {
  padding-top: 7.1505882353rem;
  padding-bottom: 8.7135294118rem;
}
@media only screen and (max-width: 86.25em) {
  .premium {
    padding-top: 4.1664705882rem;
    padding-bottom: 6.4852941176rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .premium {
    padding-top: 3.0294117647rem;
    padding-bottom: 4.6152941176rem;
  }
}

.heading {
  margin-bottom: 0.6764705882rem;
}
@media only screen and (max-width: 86.25em) {
  .heading {
    margin-bottom: 0.5094117647rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .heading {
    margin-bottom: 1.1541176471rem;
  }
}

.premium__image {
  margin-bottom: 3.1688235294rem;
  position: relative;
  aspect-ratio: 887/575.37;
  margin-left: -0.8823529412rem;
  margin-right: -0.8823529412rem;
}
@media only screen and (min-width: 47.99875em) {
  .premium__image {
    margin-bottom: 2.1935294118rem;
    margin-bottom: 2.0211764706rem;
    margin-left: 12.0338983051%;
    margin-right: 12.0338983051%;
  }
}
@media only screen and (min-width: 61.99875em) {
  .premium__image {
    max-height: 17.9411764706rem;
    margin-left: auto;
    margin-right: auto;
    max-height: 17.9411764706rem;
  }
}
@media only screen and (min-width: 73.75em) {
  .premium__image {
    max-height: none;
    margin-left: 11.6949152542%;
    margin-right: 11.6949152542%;
  }
}
.premium__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center center;
}

.premium__bottom, .smart__content {
  display: -ms-flexbox;
  display: flex;
  column-gap: 1.1764705882rem;
  line-height: 150%;
}
@media only screen and (max-width: 86.25em) {
  .premium__bottom, .smart__content {
    font-size: 0.8823529412rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .premium__bottom, .smart__content {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 0.8688235294rem;
    text-align: center;
    line-height: 120%;
  }
}

.premium__link, .smart__link {
  -ms-flex: 0 0 42.3611111111%;
  flex: 0 0 42.3611111111%;
}
@media only screen and (min-width: 47.99875em) {
  .premium__link, .smart__link {
    text-align: right;
  }
}

.premium__text, .smart__text {
  -ms-flex: 0 0 47.2222222222%;
  flex: 0 0 47.2222222222%;
}
@media only screen and (max-width: 47.99875em) {
  .premium__text, .smart__text {
    -ms-flex-order: -1;
    order: -1;
    font-size: 0.7647058824rem;
  }
}
.premium__text p, .smart__text p {
  max-width: 16.8235294118rem;
}

/*--------------------END premium----------------------*/
/*--------------------smart----------------------*/
.smart {
  padding-top: 5.5882352941rem;
}
@media only screen and (max-width: 47.99875em) {
  .smart {
    padding-top: 2.9411764706rem;
  }
}
.smart .heading {
  margin-bottom: 0.9811764706rem;
}

.smart__content {
  -ms-flex-pack: center;
  justify-content: center;
  column-gap: 1.1764705882rem;
  margin-bottom: 3.0588235294rem;
}
@media only screen and (max-width: 86.25em) {
  .smart__content {
    margin-bottom: 2.7470588235rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .smart__content {
    margin-bottom: 2.2764705882rem;
  }
}

.smart__link {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.smart__text {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.smart__text p {
  max-width: none;
}

.smart__image {
  aspect-ratio: 1440/945;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
@media only screen and (max-width: 86.25em) {
  .smart__image {
    aspect-ratio: 1024/681.38;
  }
}
@media only screen and (max-width: 36em) {
  .smart__image {
    aspect-ratio: 360/545;
  }
}
.smart__image ._fit-img {
  object-fit: fixed;
}

/*--------------------END smart----------------------*/
/*--------------------solutions----------------------*/
.solutions {
  padding-top: 5.5294117647rem;
  padding-bottom: 5.5882352941rem;
  background-color: #F2F2F2;
}
@media only screen and (max-width: 86.25em) {
  .solutions {
    padding-top: 4.8994117647rem;
    padding-bottom: 4.8823529412rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .solutions {
    padding-top: 3.4117647059rem;
    padding-bottom: 2.9411764706rem;
  }
}

.solutions__wrapper--top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  column-gap: 10.1694915254%;
}
@media only screen and (max-width: 86.25em) {
  .solutions__wrapper--top {
    column-gap: 11.8644067797%;
  }
}
@media only screen and (max-width: 47.99875em) {
  .solutions__wrapper--top {
    column-gap: 0.6470588235rem;
  }
}

.solutions__image {
  width: 40.6779661017%;
  margin-left: 8.4745762712%;
  padding-bottom: 0;
  aspect-ratio: 480/794;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media only screen and (max-width: 86.25em) {
  .solutions__image {
    width: 33.203125%;
    margin-left: 15.8203125%;
  }
}
@media only screen and (max-width: 47.99875em) {
  .solutions__image {
    width: 50%;
    margin-left: 0;
    aspect-ratio: 159/314;
  }
}

.solutions__content {
  -ms-flex: 1 1 aito;
  flex: 1 1 aito;
  padding-top: 7.5882352941rem;
}
@media only screen and (max-width: 86.25em) {
  .solutions__content {
    padding-top: 3.7329411765rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .solutions__content {
    padding-top: 0.8723529412rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 47.99875em) {
  .solutions__content .btn {
    display: none;
  }
}

.solutions__slogan {
  margin-bottom: 1.2776470588rem;
  font-size: 1.2941176471rem;
  font-family: "Articulat CF Medium", sans-serif;
}
@media only screen and (max-width: 86.25em) {
  .solutions__slogan {
    margin-bottom: 1.1588235294rem;
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .solutions__slogan {
    margin-bottom: 0.3529411765rem;
    font-size: 0.8235294118rem;
  }
}

.solutions__descr {
  max-width: 17.9411764706rem;
  margin-bottom: 2.0588235294rem;
  font-size: 1.2941176471rem;
  line-height: 150%;
}
@media only screen and (max-width: 86.25em) {
  .solutions__descr {
    margin-bottom: 1.8876470588rem;
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .solutions__descr {
    font-size: 0.8235294118rem;
  }
}

.solutions__note {
  max-width: 17.6470588235rem;
  margin-top: 9.2941176471rem;
  line-height: 185%;
}
@media only screen and (max-width: 86.25em) {
  .solutions__note {
    margin-top: 6.0588235294rem;
    font-size: 0.8823529412rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .solutions__note {
    margin-top: 0;
    margin-bottom: 3.7058823529rem;
    font-size: 0.8235294118rem;
    line-height: 140%;
  }
}

/*--------------------END solutions----------------------*/
/*--------------------system----------------------*/
.system__top {
  position: relative;
  background-color: #000;
}

.system__wrapper {
  min-height: 33.5552941176rem;
}
@media only screen and (max-width: 61.99875em) {
  .system__wrapper {
    min-height: 23.6370588235rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .system__wrapper {
    padding-left: 1.7647058824rem;
    padding-right: 1.7647058824rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .system__wrapper {
    min-height: 18.6005882353rem;
  }
}

.system__top-wrapper {
  padding-top: 3.3917647059rem;
}
@media only screen and (max-width: 86.25em) {
  .system__top-wrapper {
    padding-top: 2.4011764706rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .system__top-wrapper {
    padding-top: 1.3547058824rem;
  }
}

.system__heading {
  position: relative;
  z-index: 2;
  color: #fff;
}
@media only screen and (max-width: 47.99875em) {
  .system__heading {
    margin-left: 2.6470588235rem;
  }
}
@media only screen and (min-width: 47.99875em) {
  .system__heading {
    margin-left: 39.0625%;
  }
}
@media only screen and (min-width: 86.25em) {
  .system__heading {
    margin-left: 36.8055555556%;
  }
}

.system__logo {
  margin-bottom: 1.7347058824rem;
  max-width: 2.53rem;
}
@media only screen and (max-width: 86.25em) {
  .system__logo {
    margin-bottom: 1.1170588235rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .system__logo {
    max-width: 1.8105882353rem;
    margin-bottom: 0.5882352941rem;
  }
}
.system__logo img {
  width: 100%;
  display: block;
}

.system__text {
  font-size: 1.2352941176rem;
}
@media only screen and (max-width: 86.25em) {
  .system__text {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .system__text {
    font-size: 0.8823529412rem;
  }
}

.system__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 36em) {
  .system__image {
    width: 135%;
  }
}
@media only screen and (max-width: 23.4375em) {
  .system__image {
    left: -35%;
  }
}

.system__picture {
  padding-bottom: 0;
  margin: 0 auto;
  max-width: 84.7058823529rem;
  height: 100%;
}
@media only screen and (max-width: 23.4375em) {
  .system__picture ._fit-img {
    object-position: left center;
  }
}

.system__content {
  padding-top: 4.4635294118rem;
  padding-bottom: 10rem;
  background-color: #F2F2F2;
}
@media only screen and (max-width: 86.25em) {
  .system__content {
    padding-top: 4.3570588235rem;
    padding-bottom: 8.6188235294rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .system__content {
    padding-top: 2.7352941176rem;
    padding-bottom: 3.8364705882rem;
  }
}

.system__descr {
  margin-left: 8.4745762712%;
  font-size: 1.2941176471rem;
}
@media only screen and (max-width: 86.25em) {
  .system__descr {
    margin-left: 0;
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .system__descr {
    font-size: 0.8823529412rem;
  }
}

.descr-system__chapter {
  margin-bottom: 2.2352941176rem;
  max-width: 18.8235294118rem;
}
@media only screen and (max-width: 47.99875em) {
  .descr-system__chapter {
    max-width: 12.9411764706rem;
    margin-left: 2.7058823529rem;
  }
}

.descr-system__app {
  margin-bottom: 0.5882352941rem;
}
@media only screen and (max-width: 86.25em) {
  .descr-system__app {
    margin-bottom: 0.4705882353rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .descr-system__app {
    line-height: 170%;
    margin-bottom: 0.2941176471rem;
    line-height: 200%;
  }
}
.descr-system__app a {
  font-size: 2.1176470588rem;
  color: #009245;
  text-decoration: none;
  line-height: 176%;
  font-family: "Articulat CF Light", sans-serif;
}
@media only screen and (max-width: 86.25em) {
  .descr-system__app a {
    font-size: 1.9411764706rem;
    line-height: 170%;
  }
}
@media only screen and (max-width: 47.99875em) {
  .descr-system__app a {
    font-size: 1.4705882353rem;
    line-height: 150%;
  }
}
@media (any-hover: hover) {
  .descr-system__app a:hover {
    font-family: "Articulat CF Medium", sans-serif;
  }
}

.parameters-title {
  margin-bottom: 7.9811764706rem;
}
@media only screen and (max-width: 86.25em) {
  .parameters-title {
    margin-bottom: 5.9535294118rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .parameters-title {
    margin-bottom: 3.7758823529rem;
  }
}

.system__items {
  display: -ms-flexbox;
  display: flex;
  column-gap: 4.1176470588rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 4.5882352941rem;
}
.system__items .item-system {
  -ms-flex-preferred-size: calc(calc(100% / 3) - calc(4.1176470588rem / 3 * calc(3 - 1)));
  flex-basis: calc(calc(100% / 3) - calc(4.1176470588rem / 3 * calc(3 - 1)));
}
@media only screen and (max-width: 61.99875em) {
  .system__items .item-system {
    -ms-flex-preferred-size: calc(calc(100% / 1) - calc(4.1176470588rem / 1 * calc(1 - 1)));
    flex-basis: calc(calc(100% / 1) - calc(4.1176470588rem / 1 * calc(1 - 1)));
  }
}
@media only screen and (max-width: 86.25em) {
  .system__items {
    row-gap: 2.2941176471rem;
  }
}

.system__item {
  font-size: 1rem;
}
.system__item--title .item-system__icon {
  display: none;
}
.system__item[data-trigger] {
  transition: all 0.7s ease-out;
  opacity: 0;
  -ms-transform: translateX(2.3529411765rem);
  transform: translateX(2.3529411765rem);
}
.system__item[data-trigger].visible {
  opacity: 1;
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (max-width: 86.25em) {
  .system__item {
    font-size: 0.8823529412rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .system__item:not(.system__item--title) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2rem 1fr;
    grid-template-columns: 2rem 1fr;
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 1.7647058824rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .system__item {
    margin-left: 15.3333333333%;
    margin-right: 15.3333333333%;
  }
}
@media only screen and (max-width: 20em) {
  .system__item {
    margin-left: 0;
    margin-right: 0;
  }
}

.item-system__icon {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.1176470588rem;
}
.item-system__icon--clock {
  width: 2.7558823529rem;
  height: 2.7558823529rem;
}
@media only screen and (max-width: 86.25em) {
  .item-system__icon--clock {
    width: 2.2323529412rem;
    height: 2.2323529412rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .item-system__icon--clock {
    width: 1.9911764706rem;
    height: 1.9911764706rem;
  }
}
.item-system__icon--user {
  width: 2.4311764706rem;
  height: 2.8117647059rem;
}
@media only screen and (max-width: 86.25em) {
  .item-system__icon--user {
    width: 2.0082352941rem;
    height: 2.3241176471rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .item-system__icon--user {
    width: 1.81rem;
    height: 2.0911764706rem;
  }
}
.item-system__icon--time {
  width: 2.2382352941rem;
  height: 2.5305882353rem;
}
@media only screen and (max-width: 86.25em) {
  .item-system__icon--time {
    width: 1.7688235294rem;
    height: 2rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .item-system__icon--time {
    width: 1.6311764706rem;
    height: 1.8447058824rem;
  }
}
.item-system__icon--circle {
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 0.2941176471rem;
}
@media only screen and (min-width: 61.99875em) {
  .item-system__icon--circle {
    display: none;
  }
}
@media only screen and (max-width: 86.25em) {
  .item-system__icon {
    margin-bottom: 3.85rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .item-system__icon {
    margin-bottom: 0;
    grid-row: 1/3;
  }
}
@media only screen and (min-width: 64em) {
  .item-system__icon {
    left: -1.1764705882rem;
  }
}
.item-system__icon img {
  display: block;
  width: 100%;
  height: 100%;
}

.item-system__circle {
  width: 0.7058823529rem;
  height: 0.7058823529rem;
  border: 2px solid #666666;
  border-radius: 50%;
}

.item-system__title {
  margin-bottom: 0.7647058824rem;
  font-family: "Articulat CF Medium", sans-serif;
  line-height: 150%;
}
@media only screen and (min-width: 47.99875em) {
  .item-system__title br {
    display: none;
  }
}

.item-system__text {
  font-family: "Articulat CF Light", sans-serif;
}
@media only screen and (max-width: 61.99875em) {
  .item-system__text {
    grid-column: 2/3;
  }
}

/*--------------------END system----------------------*/
/*# sourceMappingURL=maps/main.css.map */
