@charset "UTF-8";
@font-face {
  font-family: "Articulat CF Light";
  src: url("../fonts/ArticulatCF-Light.woff2") format("woff2"), url("../fonts/ArticulatCF-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Articulat CF Medium";
  src: url("../fonts/ArticulatCF-Medium.woff2") format("woff2"), url("../fonts/ArticulatCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Articulat CF Normal";
  src: url("../fonts/ArticulatCF-Normal.woff2") format("woff2"), url("../fonts/ArticulatCF-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-600";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-600.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-900";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-900.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "raleway-v22-latin_cyrillic-regular";
  font-display: swap;
  src: url("../fonts/raleway-v22-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69");
  src: url("../fonts/icomoon/fonts/icomoon.eot?za5w69#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?za5w69") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?za5w69") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?za5w69#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--FormHandler-*/
/*--end FormHandler--*/
/*--spoilers-*/
/*--------------------adjustment----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 106.25%;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "Articulat CF Normal", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  min-width: 18.8235294118rem;
  position: relative;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #4D4D4D;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  overflow-behavior: none;
}

html, body {
  height: 100%;
}

.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
@supports (overflow: clip) {
  .main {
    overflow: clip;
  }
}
.main > * {
  min-width: 0;
}
.main .header {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.main .main-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.main .footer {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

a {
  color: inherit;
}

img {
  vertical-align: top;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

input input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

.input,
input {
  border-radius: 0;
  outline: none;
  display: block;
  width: 100%;
  border: 0 none;
}

textarea {
  resize: none;
  padding: 0 0;
}

[class*=__wrapper] {
  margin: 0 auto;
  padding-left: 0.5882352941rem;
  padding-right: 0.5882352941rem;
  max-width: 70.5882352941rem;
}
@media only screen and (max-width: 61.99875em) {
  [class*=__wrapper] {
    padding-left: 1.7647058824rem;
    padding-right: 1.7647058824rem;
  }
}

.hidden {
  display: none !important;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}
._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

._fit {
  padding-bottom: 80%;
  position: relative;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center center;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: blur(31px);
    backdrop-filter: blur(31px);
  }
}

/*--------------------END adjustment----------------------*/
/*--------------------ui----------------------*/
.btn {
  text-decoration: none;
  color: #009245;
}
@media only screen and (max-width: 47.99875em) {
  .btn {
    font-size: 0.8235294118rem;
  }
}
@media (any-hover: hover) {
  .btn {
    cursor: pointer;
  }
  .btn:hover {
    font-family: "Articulat CF Medium", sans-serif;
  }
}

.toggle-mnu {
  right: 1.7647058824rem;
  top: 0.8823529412rem;
  display: none;
  width: 1.3617647059rem;
  height: 0.8235294118rem;
  margin-top: -0.8235294118rem;
  padding: 0;
  background-color: transparent;
  border: none;
}
.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4117647059rem;
}
.toggle-mnu span:after {
  top: 0.8235294118rem;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 0.0588235294rem;
  background-color: #000;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.1176470588rem;
}
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on span:before {
  -ms-transform: rotate(45deg) translate(-0.0588235294rem, 0);
  transform: rotate(45deg) translate(-0.0588235294rem, 0);
}
.toggle-mnu.on span:after {
  -ms-transform: rotate(-45deg) translate(0.3529411765rem, -0.4117647059rem);
  transform: rotate(-45deg) translate(0.3529411765rem, -0.4117647059rem);
}

.heading__subtitle {
  margin-bottom: 0.0905882353rem;
  font-size: 1.2941176471rem;
}
.heading__title {
  font-size: 2.2352941176rem;
  font-family: "Articulat CF Medium", sans-serif;
}
@media only screen and (max-width: 47.99875em) {
  .heading {
    text-align: center;
  }
}

/*--------------------END ui----------------------*/
/*--------------------footer----------------------*/
.footer {
  padding-top: 3.6988235294rem;
  padding-bottom: 7.5652941176rem;
}
@media only screen and (max-width: 64em) {
  .footer {
    padding-top: 4.1176470588rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .footer {
    padding-top: 2.4258823529rem;
    padding-bottom: 3.6941176471rem;
  }
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10.5882352941rem 1fr;
  grid-template-columns: 10.5882352941rem 1fr;
  grid-column-gap: 1.1764705882rem;
}
@media only screen and (max-width: 64em) {
  .footer__wrapper {
    -ms-grid-columns: 12.9411764706rem 1fr;
    grid-template-columns: 12.9411764706rem 1fr;
    grid-column-gap: 3.3529411765rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .footer__wrapper {
    -ms-grid-columns: 6.4705882353rem 1fr;
    grid-template-columns: 6.4705882353rem 1fr;
    grid-column-gap: 1.2458823529rem;
  }
}

.footer__logo {
  margin-bottom: 2.8235294118rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media only screen and (max-width: 64em) {
  .footer__logo {
    margin-bottom: 1.9411764706rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .footer__logo {
    margin-bottom: 2.7547058824rem;
  }
}
.footer__logo img {
  max-width: 9.07rem;
  width: 100%;
  display: block;
}
@media only screen and (max-width: 47.99875em) {
  .footer__logo img {
    max-width: none;
    width: 100%;
  }
}

.menu-footer {
  padding-top: 0.6470588235rem;
  padding-left: 4.2352941176rem;
}
@media (max-width: 73.75em) {
  .menu-footer {
    padding-left: clamp( 0rem , -1.2100840336rem  +  6.4285714286vw , 4.2352941176rem );
  }
}
@media only screen and (max-width: 64em) {
  .menu-footer {
    padding-left: 0;
  }
}
@media only screen and (max-width: 61.99875em) {
  .menu-footer {
    -ms-grid-row: span 2;
    grid-row: span 2;
    padding-top: 0.1176470588rem;
  }
}

.menu-footer__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 4.0588235294rem;
}
@media (max-width: 73.75em) {
  .menu-footer__list {
    column-gap: clamp( 0rem , -1.1596638655rem  +  6.1607142857vw , 4.0588235294rem );
  }
}
@media only screen and (max-width: 64em) {
  .menu-footer__list {
    column-gap: 1.8235294118rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .menu-footer__list {
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 0.6970588235rem;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.menu-footer__item {
  list-style-type: none;
}

.menu-footer__link {
  font-size: 0.8529411765rem;
  font-family: "Articulat CF Medium", sans-serif;
  text-decoration: none;
}
@media only screen and (max-width: 64em) {
  .menu-footer__link {
    font-size: 0.8235294118rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .menu-footer__link {
    font-size: 0.7058823529rem;
  }
}

.footer__socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 0.2705882353rem;
}

.socials-footer__item {
  list-style-type: none;
}
.socials-footer__item:not(:last-child) {
  margin-bottom: 0.8282352941rem;
}
@media only screen and (max-width: 47.99875em) {
  .socials-footer__item:not(:last-child) {
    margin-bottom: 0.9564705882rem;
  }
}

.socials-footer__link {
  display: block;
  width: 2.4705882353rem;
  height: 2.4705882353rem;
}
@media only screen and (max-width: 47.99875em) {
  .socials-footer__link {
    width: 1.7176470588rem;
    height: 1.7176470588rem;
  }
}
.socials-footer__link img {
  display: block;
  width: 100%;
  max-height: 100%;
}

.footer__info {
  font-family: "Articulat CF Medium", sans-serif;
  font-size: 0.8529411765rem;
  padding-left: 2.8823529412rem;
}
@media (max-width: 73.75em) {
  .footer__info {
    padding-left: clamp( 0rem , -0.8235294118rem  +  4.375vw , 2.8823529412rem );
  }
}
@media only screen and (max-width: 64em) {
  .footer__info {
    padding-left: 0;
  }
}
@media only screen and (max-width: 61.99875em) {
  .footer__info {
    -ms-grid-column: span 2;
    grid-column: span 2;
    margin-top: 1.8552941176rem;
    font-size: 0.7058823529rem;
  }
}

.footer__inns {
  margin-top: 1.6470588235rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: end;
  align-items: flex-end;
  column-gap: 1.3529411765rem;
  row-gap: 0.2941176471rem;
}
@media only screen and (max-width: 47.99875em) {
  .footer__inns {
    column-gap: 0.3529411765rem;
    margin-top: 1.1764705882rem;
  }
}

.info-footer__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: end;
  align-items: flex-end;
  column-gap: 0.5882352941rem;
}
.info-footer__row:first-child {
  margin-bottom: 0.6470588235rem;
}
@media only screen and (max-width: 36em) {
  .info-footer__row--questions {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.info-footer__row--questions .info-footer__col {
  margin-bottom: 0.6470588235rem;
}
.info-footer__row--address {
  font-style: normal;
}
@media only screen and (max-width: 36em) {
  .info-footer__row--address {
    column-gap: 0.3529411765rem;
  }
}

.info-footer__col {
  line-height: 150%;
}
@media only screen and (max-width: 47.99875em) {
  .info-footer__col span {
    display: block;
    margin-bottom: 0.6470588235rem;
  }
}

/*--------------------END footer----------------------*/
/*--------------------header----------------------*/
.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(51, 51, 51, 0.88);
}

.header__wrapper {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease; /*опционально*/
}

.header__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 3.7647058824rem;
}
@media only screen and (max-width: 64em) {
  .header__body {
    padding-left: 1.8823529412rem;
    padding-right: 1.8823529412rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .header__body {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 61.99875em) {
  .header__body {
    min-height: 3.0588235294rem;
  }
}

.header__logo {
  max-width: 1.8888235294rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 6.1111764706rem;
}
@media (max-width: 73.75em) {
  .header__logo {
    margin-right: clamp( 0.5882352941rem , -0.9897478992rem  +  8.3830357143vw , 6.1111764706rem );
  }
}
.header__logo img {
  width: 100%;
}
@media only screen and (max-width: 73.75em) {
  .header__logo {
    margin-right: 2.5294117647rem;
  }
}

.menu-header {
  margin-top: 0.4117647059rem;
}
.menu-header .menu-header__body:before {
  content: "";
  height: 3.0588235294rem;
  width: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  background-color: #fff;
  transition: right 0.4s ease;
}
.menu-opened .menu-header .menu-header__body:before {
  right: 0;
}
@media only screen and (min-width: 61.99875em) {
  .menu-header .menu-header__body:before {
    display: none;
  }
}
.menu-opened .menu-header .menu-header__body {
  right: 0;
}
@media screen and (max-width: 61.99875em) {
  .menu-header .menu-header__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    overflow-y: auto;
  }
}
.menu-header .toggle-mnu span, .menu-header .toggle-mnu span:after, .menu-header .toggle-mnu span:before {
  background-color: #fff;
}
.menu-opened .menu-header .toggle-mnu span, .menu-opened .menu-header .toggle-mnu span:after, .menu-opened .menu-header .toggle-mnu span:before {
  background-color: #fff;
}
.menu-header .toggle-mnu.on span {
  background-color: transparent;
}
@media screen and (max-width: 61.99875em) {
  .menu-header .toggle-mnu {
    display: block;
  }
}
@media only screen and (max-width: 61.99875em) {
  .menu-header {
    margin-left: auto;
  }
}

.menu__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 2.8235294118rem;
  row-gap: 0.2941176471rem;
}
@media (max-width: 73.75em) {
  .menu__list {
    column-gap: clamp( 0.5882352941rem , -0.0504201681rem  +  3.3928571429vw , 2.8235294118rem );
  }
}
@media only screen and (max-width: 64em) {
  .menu__list {
    column-gap: 1.7058823529rem;
  }
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  font-size: 0.9117647059rem;
  color: #fff;
  letter-spacing: 0.3;
  text-decoration: none;
}
@media only screen and (max-width: 64em) {
  .menu__link {
    font-size: 0.8235294118rem;
  }
}

.header__search-button {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 0.4117647059rem;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: 4.6882352941rem;
  width: 1.0817647059rem;
  height: 1rem;
}
@media (any-hover: hover) {
  .header__search-button {
    cursor: pointer;
  }
}
@media (max-width: 73.75em) {
  .header__search-button {
    margin-left: clamp( 0.5882352941rem , -0.5831932773rem  +  6.2232142857vw , 4.6882352941rem );
  }
}
@media only screen and (max-width: 73.75em) {
  .header__search-button {
    margin-left: 2.0858823529rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .header__search-button {
    margin-left: 1.7258823529rem;
    width: 1.1682352941rem;
    height: 1.08rem;
  }
}
.header__search-button img {
  width: 100%;
  max-height: 100%;
}

.header__serch-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 23.2352941176rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(51, 51, 51, 0.88);
}
.search-open .header__serch-area {
  visibility: visible;
  opacity: 1;
}

.serch-form-header {
  padding-top: 7rem;
}
@media only screen and (min-width: 61.99875em) {
  .serch-form-header {
    padding-left: 4.7764705882rem;
  }
}

.serch-form-header__label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 1.8235294118rem;
}

.serch-form-header__submit {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 1.4635294118rem;
  height: 1.3529411765rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (any-hover: hover) {
  .serch-form-header__submit {
    cursor: pointer;
  }
}
.serch-form-header__submit img {
  width: 100%;
  max-height: 100%;
}

.serch-form-header__input {
  height: 2.1764705882rem;
  background-color: transparent;
  font-size: 1.4117647059rem;
  line-height: 1.36;
  font-family: inherit;
  color: #fff;
}
.serch-form-header__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.serch-form-header__input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.serch-form-header__input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.serch-form-header__input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

/*--------------------END header----------------------*/
/*--------------------hero----------------------*/
.hero {
  position: relative;
  min-height: 44.5376470588rem;
  padding-top: 21.1176470588rem;
  background-color: #EFF2F7;
}
@media only screen and (max-width: 64em) {
  .hero {
    min-height: 42.4494117647rem;
    padding-top: 19.3529411765rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .hero {
    min-height: 34.0588235294rem;
    padding-top: 17.6470588235rem;
  }
}

.hero__content {
  max-width: 23.5294117647rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 47.99875em) {
  .hero__content {
    max-width: 13.6470588235rem;
  }
}
@media only screen and (min-width: 47.99875em) {
  .hero__content {
    max-width: none;
    margin-right: 67.7966101695%;
  }
}

.hero__slogan {
  font-family: "Articulat CF Medium", sans-serif;
  margin-bottom: 1.7647058824rem;
  font-size: 1.2941176471rem;
  color: #1A1A1A;
}
@media only screen and (max-width: 64em) {
  .hero__slogan {
    font-size: 1.1176470588rem;
    margin-bottom: 1.4705882353rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .hero__slogan {
    font-size: 0.8823529412rem;
  }
}

.hero__logo {
  width: 100%;
  max-width: 16.0588235294rem;
  margin-bottom: 2.7647058824rem;
}
@media only screen and (max-width: 64em) {
  .hero__logo {
    margin-bottom: 2.4117647059rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .hero__logo {
    max-width: 10.5882352941rem;
  }
}
.hero__logo img {
  display: block;
  width: 100%;
}

.hero__text {
  line-height: 130%;
  text-align: right;
}
@media only screen and (max-width: 64em) {
  .hero__text {
    font-size: 0.8823529412rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .hero__text {
    font-size: 0.7647058824rem;
  }
}

.hero__image {
  padding-bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80.1523529412rem;
}
@media only screen and (max-width: 85.375em) {
  .hero__image {
    right: -10%;
  }
}
@media only screen and (max-width: 73.75em) {
  .hero__image {
    right: -20%;
  }
}
@media only screen and (max-width: 64em) {
  .hero__image {
    right: -22%;
    width: 76.3847058824rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .hero__image {
    right: -30%;
    width: 64.9129411765rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .hero__image {
    right: -60%;
  }
}
@media only screen and (max-width: 36em) {
  .hero__image {
    right: -60%;
  }
}
@media only screen and (max-width: 30em) {
  .hero__image {
    right: -105%;
  }
}
.hero__image ._fit-img {
  object-position: right top;
}
@media only screen and (max-width: 61.99875em) {
  .hero__image ._fit-img {
    object-position: right bottom;
  }
}

/*--------------------END hero----------------------*/
/*--------------------organize----------------------*/
.organize {
  position: relative;
  margin-top: -0.0588235294rem;
  padding-top: 4.9329411765rem;
  padding-bottom: 7.2941176471rem;
  background-color: #F2F2F2;
}
@media only screen and (max-width: 64em) {
  .organize {
    padding-top: 2.9564705882rem;
    padding-bottom: 5.7194117647rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize {
    padding-top: 3.2658823529rem;
    padding-bottom: 4.5882352941rem;
  }
}
.organize .heading {
  margin-bottom: 3.4741176471rem;
}
@media only screen and (max-width: 64em) {
  .organize .heading {
    margin-bottom: 2.2211764706rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize .heading {
    margin-bottom: 1.8535294118rem;
  }
}

@media only screen and (min-width: 47.99875em) {
  .heading {
    margin-left: 33.8983050847%;
  }
}

.organize__options {
  max-width: 49.1525423729%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5729411765rem;
}
@media only screen and (max-width: 64em) {
  .organize__options {
    max-width: 36.71875%;
    margin-left: 25.390625%;
    margin-right: 0;
    margin-bottom: 2.9917647059rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize__options {
    max-width: none;
    margin-left: 0;
    margin-bottom: 2.5570588235rem;
  }
}
@media only screen and (max-width: 36em) {
  .organize__options {
    max-width: 11.7647058824rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.organize__option {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 2.6470588235rem;
}
@media only screen and (max-width: 64em) {
  .organize__option {
    column-gap: 1.7647058824rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize__option {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    row-gap: 1.1176470588rem;
  }
}
.organize__option:not(:last-child) {
  margin-bottom: 3.0835294118rem;
}
@media only screen and (max-width: 64em) {
  .organize__option:not(:last-child) {
    margin-bottom: 1.0588235294rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .organize__option:not(:last-child) {
    margin-bottom: 1.9176470588rem;
  }
}

.option-organize__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 3.1817647059rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 1s ease;
  -ms-transform: translateY(1.1764705882rem);
  transform: translateY(1.1764705882rem);
  opacity: 0;
}
.option-organize__icon.visible {
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 2;
}
@media only screen and (max-width: 64em) {
  .option-organize__icon {
    width: 2.7958823529rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .option-organize__icon {
    width: 2.2276470588rem;
  }
}
.option-organize__icon img {
  max-width: 100%;
}

.option-organize__text {
  font-size: 1.2882352941rem;
}
@media only screen and (max-width: 64em) {
  .option-organize__text {
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 61.99875em) {
  .option-organize__text {
    font-size: 0.8823529412rem;
  }
}

@media only screen and (max-width: 47.99875em) {
  .organize__bottom {
    text-align: center;
  }
}
@media only screen and (min-width: 47.99875em) {
  .organize__bottom {
    padding-left: 33.8983050847%;
  }
}

/*--------------------END organize----------------------*/
/*--------------------system----------------------*/
.system {
  position: relative;
  padding-top: 3.3917647059rem;
  background-color: #000;
}
@media only screen and (max-width: 64em) {
  .system {
    padding-top: 2.4011764706rem;
  }
}

.system__wrapper {
  min-height: 33.5552941176rem;
}
@media only screen and (max-width: 64em) {
  .system__wrapper {
    min-height: 23.6370588235rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .system__wrapper {
    min-height: 18.6005882353rem;
  }
}

.system__heading {
  position: relative;
  z-index: 2;
  color: #fff;
  margin-left: 33.8983050847%;
}
@media only screen and (max-width: 47.99875em) {
  .system__heading {
    margin-left: 2.6470588235rem;
  }
}

.system__logo {
  margin-bottom: 1.7347058824rem;
  max-width: 2.53rem;
}
@media only screen and (max-width: 64em) {
  .system__logo {
    margin-bottom: 1.1170588235rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .system__logo {
    max-width: 1.8105882353rem;
    margin-bottom: 0.5882352941rem;
  }
}
.system__logo img {
  width: 100%;
  display: block;
}

.system__text {
  font-size: 1.2352941176rem;
}
@media only screen and (max-width: 64em) {
  .system__text {
    font-size: 1.1176470588rem;
  }
}
@media only screen and (max-width: 47.99875em) {
  .system__text {
    font-size: 0.8823529412rem;
  }
}

.system__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 36em) {
  .system__image {
    width: 135%;
  }
}
@media only screen and (max-width: 23.4375em) {
  .system__image {
    left: -35%;
  }
}

.system__picture {
  padding-bottom: 0;
  margin: 0 auto;
  max-width: 84.7058823529rem;
  height: 100%;
}
@media only screen and (max-width: 23.4375em) {
  .system__picture ._fit-img {
    object-position: left center;
  }
}

/*--------------------END system----------------------*/
/*# sourceMappingURL=maps/main.css.map */
