.assortment
	.assortment__wrapper
		.assortment__content
			.assortment__text
				p ассортимент 
					br
					| классический, спортивный, 
					br
					| сытный для производств, 
					br
					| детский согласно регламентов 
					br 
					| СанПин 
					br
					| и т. д.
		
			.assortment__picts
				.assortment__pict
					img(src="img/assortment/bottle.svg" alt="alt")

				.assortment__pict
					img(src="img/assortment/snacks.svg" alt="alt")
				
				.assortment__shedule 24/7
		
		.assortment__bottom весь товар сертифицирован