footer.footer
	.footer__wrapper
		a(href="index.html").footer__logo
			img(src="img/logo-full.svg" alt="alt")

		nav.footer__menu.menu-footer
			ul.menu-footer__list
				- var footMenu =  ['О Компании','MegasVending','Условия установки','Отзывы','Дополнительная информация'];
				each item, i in footMenu
					li.menu-footer__item
						if i==1
							if pageIndex == 6
								a(href="#").menu-footer__link= item
							else
								a(href="why.html").menu-footer__link= item
						
						else if item == 'Условия установки'
							if pageIndex == 2
								a(href="#").menu-footer__link= item
							else
								a(href="examples.html").menu-footer__link= item

						else if item == 'Дополнительная информация'
							if pageIndex == 7
								a(href="#").menu-footer__link= item
							else
								a(href="template.html").menu-footer__link= item
						else
							if pageIndex == 5
								a(href="#").menu-footer__link= item
							
							else
								a(href="about.html").menu-footer__link= item
			
			//- +menu('menu-footer', ['О Компании','Команда','Условия установки','Отзывы','Дополнительная информация'])

		ul.footer__socials.socials-footer
			li.socials-footer__item
				a(href="#").socials-footer__link.socials-footer__link--vk
					img(src="img/socs/vk.svg" alt="alt")
			li.socials-footer__item
				a(href="#").socials-footer__link
					img(src="img/socs/tgm.svg" alt="alt")

		.footer__info.info-footer
			address.info-footer__row.info-footer__row--address
				.info-footer__col #[span ООО «Мегас»] Санкт-Петербург, ул. Симонова 15, лит А, пом. 1
				.info-footer__col #[a(href="tel:+78124673839") +7 (812) 467 38 39]
				.info-footer__col #[a(href="mailto:razvitie@megasvending.ru") razvitie@megasvending.ru]

			.info-footer__row.info-footer__row--questions
				.info-footer__col #[a(href="mailto:megasvending@yandex.ru") megasvending@yandex.ru] — общие вопросы
				.info-footer__col #[a(href="mailto:zakupki@megasvending.ru") razvitie@megasvending.ru] — установка автоматов 
			
			.info-footer__row
				.info-footer__col #[a(href="mailto:zakupki@megasvending.ru") zakupki@megasvending.ru] — по вопросам закупки продукции и ингредиентов

			.footer__inns
				.footer__inns-item ИНН: 7814342327
				.footer__inns-item КПП: 780201001
				.footer__inns-item ОГРН: 1069847102181