footer.footer
	.footer__wrapper
		a(href="#").footer__logo
			img(src="img/logo-full.svg" alt="alt")

		nav.footer__menu.menu-footer
			+menu('menu-footer', ['О Компании','Команда','Условия установки','Отзывы','Дополнительная информация'])

		ul.footer__socials.socials-footer
			li.socials-footer__item
				a(href="#").socials-footer__link
					img(src="img/socs/vk.png" alt="alt")
			li.socials-footer__item
				a(href="#").socials-footer__link
					img(src="img/socs/tw.png" alt="alt")

		.footer__info
			p ООО «Мегас» Санкт-Петербург, ул. Симонова 15, лит А, пом. 1 #[a(href="tel:+78124673839") +7 (812) 467 38 39] #[a(href="mailto:razvitie@megasvending.ru") @megasvending.ru]

			p.footer__questions #[a(href="mailto:megasvending@yandex.ru") megasvending@yandex.ru] — общие вопросы #[a(href="mailto:zakupki@megasvending.ru") razvitie@megasvending.ru] — установка автоматов 
				br
				| #[a(href="mailto:zakupki@megasvending.ru") zakupki@megasvending.ru] — по вопросам закупки продукции и ингредиентов

			.footer__inns
				.footer__inns-item ИНН: 7814342327
				.footer__inns-item КПП: 780201001
				.footer__inns-item ОГРН: 1069847102181