header(class=headerDark && headerFixed ? "header header--dark header--fixed" : headerDark ? "header header--dark" : headerFixed ? "header header--fixed" : "header")
	.header__wrapper
		.header__body
			a(href="#").header__logo
				img(src="img/header-logo.svg" alt="alt")

			.header__menu.menu-header
				button.toggle-mnu
					//- span
					svg.toggle-mnu__close(width='19', height='19', viewBox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
						path(d='M1.24902 1.21875L17.6115 17.5812', stroke-width='1.6', stroke-miterlimit='10', stroke-linecap='round')
						path(d='M1.25 17.5811L17.6125 1.21859', stroke-width='1.6', stroke-miterlimit='10', stroke-linecap='round')

					svg.toggle-mnu__burger(width='25', height='17', viewBox='0 0 25 17', fill='none', xmlns='http://www.w3.org/2000/svg')
						path(d='M0.860352 1.3999H24.0004', stroke-width='1.6', stroke-miterlimit='10', stroke-linecap='round')
						path(d='M0.860352 8.3999H24.0004', stroke-width='1.6', stroke-miterlimit='10', stroke-linecap='round')
						path(d='M0.860352 15.3999H24.0004', stroke-width='1.6', stroke-miterlimit='10', stroke-linecap='round')
				nav.menu-header__body
					+menu('menu', ['Вендинговые Аппараты', 'Школьный вендинг', 'Почему MegasVending', 'Примеры установок', 'Польза от вендинга'])

			button(type="button").header__search-button
				svg(viewBox='0 0 21 20', fill='none', xmlns='http://www.w3.org/2000/svg')
					path(d='M9.34021 16.3798C13.5597 16.3798 16.9802 13.013 16.9802 8.85984C16.9802 4.70666 13.5597 1.33984 9.34021 1.33984C5.12075 1.33984 1.7002 4.70666 1.7002 8.85984C1.7002 13.013 5.12075 16.3798 9.34021 16.3798Z', stroke='white', stroke-width='1.5', stroke-miterlimit='10')
					path(d='M15.2803 13.5996L20.0902 18.3396', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round')

	.header__serch-area
		.__wrapper
			form(action="#" class="header__serch-form serch-form-header")
				label.serch-form-header__label
					button.serch-form-header__submit(type="submit")
						img(src="img/icons/search.svg" alt="alt")
					
					input(autocomplete="off" type="text" name="" class="serch-form-header__input" placeholder="Поиск")