.hero
	.hero__wrapper
		.hero__content
			.hero__slogan кофе-брейк, быстрый перекус от
			.hero__logo
				img(src="img/logo-full.svg" alt="alt")
			p.hero__text кофейные и снековые автоматы,
				br
				| устанавливаем и обслуживаем
				br
				| миникофейни самообслуживания,
				br
				| микромаркеты, умные 
				br
				| холодильники
	.hero__image._fit
		img._fit-img(src="img/hero-img.jpg" alt="alt")