section.main-slider.gray-bg
	.main-slider__wrapper
		h2.main-slider__title.text-center Быстро. Вкусно. Профессионально.
		
	.main-slider__carousel.main-carousel
		//- Общий блок слайдера
		.tiny-carousel
			//- Собственно, слайдер
			.tiny-sldr
				- for (var i=0; i < 5; i++)
					div.main-carousel__slide
						a(href="#").main-carousel__slide-wrap._fit
							img._fit-img(src="img/main-slider/lg/"+(i+1)+".jpg" alt="alt")