section.premium.wht-bg
	.premium__wrapper
		.heading.text-center
			.heading__subtitle кофейные автоматы
			h2.heading__title.premium__title Premium #[span ассортимент]
		
		.premium__image
			img(src="img/premium-img.jpg" alt="alt")
		
		.premium__bottom
			.premium__link
				a(href="#").btn < Узнать больше
			.premium__text
				p лучший зерновой кофе для решения поставленных перед командой задач