section.smart.gray-bg
	.smart__wrapper
		.heading.text-center
			.heading__subtitle снековые автоматы
			h2.heading__title.smart__title Smart #[span решение]

		.smart__content
			.smart__link
				a(href="#").btn < Узнать больше
			.smart__text
				p организованный вкусный перекус для любой команды
		
	.smart__image._fit
		img._fit-img(src="img/smart-img.jpg" alt="alt")