.solutions
	.solutions__wrapper.solutions__wrapper--top
		.solutions__image._fit
			img._fit-img(src="img/solutions-img.jpg" alt="alt")

		.solutions__content
			.solutions__block
				.solutions__slogan Всегда вкусно
				p.solutions__descr автоматизированная система контроля качества

				a(href="#").btn Узнать больше >

			p.solutions__note любимые напитки из зернового кофе, популярный горячий шоколад, фруктово-молочные коктейли, модный decaffe

	//- .solutions__wrapper
	//- 	.heading.text-center
	//- 		.heading__subtitle снековые автоматы
	//- 		h2.heading__title.premium__title Smart #[span решение]