.system
	.system__top
		.system__wrapper
			.system__heading
				.system__logo
					img(src="img/logo-wht.svg" alt="alt")
				.system__text повысим эффективность ваших сотрудников и лояльность клиентов

		.system__image
			.system__picture._fit
				img._fit-img(src="img/system/system-img.jpg" alt="alt")