/*--------------------adjustment----------------------*/
*,
*::before,
*::after{
	box-sizing: border-box;
	// outline: 1px solid red;
}

html{
	font-size: math.div($rootFontSize, 16px) * 100%;
}
html, body{
	margin: 0;
	padding: 0;
	min-height: 100%;
}
body{
	font-family: $reg;
	font-weight: normal;
	font-size: rem($baseFontSize);
	min-width: rem($minWidth);
	position: relative;
	// line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	color: $text;
	background-color: $gray-bg;
	// max-width: 360px;

	.lock & {
		@include max-screen($md){
			overflow: hidden;
			touch-action: none;
			overflow-behavior: none;
			
		}
	}
}

// компенсация ширины скроллбара при появлении ванильных поапов
// все содержимое страницы оборачивается в #wrapper-for-scroll-fix
// использовать совместно с libs-vanilla/service-functions/scrollWidth.js 

#wrapper-for-scroll-fix{
	overflow: hidden;
}
#wrapper-for-scroll-fix.modal-open {
    padding-right: var(--scroll-width);
}
.vbox-container{
	.vbox-open &{
    	padding-right: var(--scroll-width);

	}
} 
.header { // в случае position: fixed у хедера
   .modal-open &{
    	padding-right: var(--scroll-width);
   }
}
// .modal__container, .vbox-overlay{//компенсация сдвига модалки при анимации исчезновения
// 	margin-left: var(--scroll-width);
//   .modal-open & {
//   	margin-left: 0;
//   }

// }
// END компенсация ширины скроллбара при появлении ванильных поапов


// Прижать футер к низу

html, body{
	height: 100%;
}
.main{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;

	@supports(overflow: clip){
		overflow: clip;
	}

	& > *{
		min-width: 0;
	}

	.header{
		flex: 0 0 auto;
	}
	.main-content{
		flex: 1 1 auto;
	}
	.footer{
		flex: 0 0 auto;
		margin-top: auto;
	}
}

// END Прижать футер к низу

// стиль для отключения скролла стр-цы. при помощи libs-vanilla/service-functions/scrollDisable.js
// .disable-scroll {
// 	position: relative;
// 	overflow: hidden;
// 	height: 100vh;
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// }
a{
	color: inherit;
}
img{
	vertical-align: top;
}
ul, li{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: inherit;
	font-size: inherit;
}
p{
	margin: 0;
}
input
input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input,
input{
	border-radius: 0;
	outline: none;
	display: block;
	width: 100%;
	border: 0 none;
}
textarea{
	resize: none;
	padding: 0 0;
}
//END input


[class*="__wrapper"]{
	margin: 0 auto;
	padding-left: rem(math.div($containerPaddings, 2));
	padding-right: rem(math.div($containerPaddings, 2));
	max-width: rem($maxContainerWidth);
	// outline: 1px solid;

	@include max-screen(em($maxWidthContainer)){
		padding-left: rem(30);
		padding-right: rem(30);
	}
	@include max-screen($lgg){
		max-width: rem(1024);
	}

	&.padding-inline-75{
		@include max-screen($lgg){
			padding-left: rem(75);
			padding-right: rem(75);
		}

		@include max-screen(em(1024)){
			padding-left: rem(30);
			padding-right: rem(30);
		}

	}

}
// classes for smartgrid(c) structure
// .wrapper-smart{
// 	@include wrapper();
// }
// .wrapper-flex{
// 	@include row-flex();
// }
// .column{
// 	@include col();
// 	@include size(1);	
// }

.hidden{
	display: none !important;
}

.ibg{
background-position: center; 
background-size: cover; 
background-repeat: no-repeat; 
position: relative;
padding-bottom: 52.25%;
}

.ibg img{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0; 
	// visibility: hidden;
}
._prod-img {
	position: relative;
	padding-bottom: 80%;
	img{
		@include absolute-center;
	}
}
._fit{
	position: relative;
}
._fit ._fit-img{//_fit - class for object-fit
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	object-fit: cover; 
	object-position: center center;
}

.bd-filter-fallback{// определение поддержки блюра без джаваскрипт
	@supports (backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px)){// определение поддержки блюра без джаваскрипт
			background-color: rgba(255, 255, 255, .72);
			backdrop-filter: blur(31px);
		}
}
.text-center{
	text-align: center;
}
.wht-bg{
	background-color: #fff;
}
.gray-bg{
	background-color: $gray-bg;
}
.school-section{
	position: relative;
	z-index: 2;
}
.fab{
	position: fixed;
	width: rem(158);
	height: rem(185.86);
	top: rem(620);
	left: prc(55, $maxWidth);
	z-index: 21;

	&--hidden{
		visibility: hidden;
	}

	.search-open &{
		z-index: 20;
	}

	// @include max-screen($lgg){
	// 	width: rem(130);
	// 	height: rem(152.4);
	// 	top: rem(372.63);
	// 	left: rem(34.29);
	// }
	@include max-screen($lgg){
		width: rem(110.96);
		height: rem(130);
		top: rem(453);
		left: rem(34);
	}
	@include max-screen($sm){
		top: rem(500);
	}
	@include max-screen($min){
		top: rem(400);
		left: rem(5);
	}

	@include min-screen(em(1500)){
		top: rem(580);
		left: calc((100% - rem($maxWidth)) / 2 - rem(35));
	}
}
.fab__phone,
.fab__drive{
	@include but-null();
	position: absolute;
	left: 0;
	bottom: 0;
	transition: opacity 0.5s ease;

	.fab--active & {
		visibility: hidden;
	}

	img{
		max-width: 100%;
		max-height: 100%;
		vertical-align: bottom;
	}
}
.fab__phone{
	// @include max-screen($lgg){
	// 	width: rem(93.42);
	// }
	@include max-screen($lgg){
		width: rem(79.69);
	}

	.drive &{
		opacity: 0;
	}
}
.fab__drive{
	opacity: 0;
	.drive &{
		opacity: 1;
	}
}

.fab__list {
	position: absolute;
	bottom: 100%;
	left: 50%;
	// left: rem(54);
	width: rem(71);
	transition: all .3s;
	visibility: hidden;
	opacity: 0;
	transform: translateY(10%) translateX(-50%);

	.fab--active &{
		visibility: visible;
		opacity: 1;
		transform: translateY(0) translateX(-50%);
	}
	.fab--hidden &{
		visibility: hidden;
	}

	@include max-screen($lgg){
		width: rem(59);
		bottom: calc(100% - rem(10));
	}
	@include max-screen($md){
		width: rem(50);
		bottom: 100%;
	}
}
.fab__link {
	display: block;
	img{
		width: 100%;
	}
}
.fab__link--wa {
	width: prc(54, 71);
	margin-bottom: prc(33.59, 71);
	margin-left: prc(7, 71);
}
.fab__link--tg {

	width: prc(58.97, 71);
	margin-bottom: prc(35.5, 71);
}
.fab__link--mail {
	width: prc(50.18, 71);
	margin-left: prc(8.32, 71);
	margin-bottom: prc(37.72, 71);
}
.fab__link--chat {
		width: prc(54, 71);
		margin-bottom: prc(24.07, 71);
		margin-left: prc(7, 71);
}
.fab__link--smart {
	width: prc(60, 68);
	margin-left: prc(10.34, 71);
}
.fab__cross {
	@include but-null();
	@include absolute-center-old;
	width: rem(31);
	height: rem(31);
	transition: all .3s;
	// transition-delay: 0.1s;
	transform: rotate(-30deg) scale(0.7);
	// transform-origin: center center;
	opacity: 0;
	visibility: hidden;

	.fab--active &{
		visibility: visible;
		opacity: 1;
		transform: rotate(0) scale(1);
	}
	.fab--hidden &{
		visibility: hidden;
	}

	@include max-screen($lgg){
		width: rem(25.57);
		height: rem(25.57);
	}
	@include max-screen($md){
		width: rem(21.65);
		height: rem(21.65);
	}

	img{
		width: 100%;
	}
}
.blur{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(6px);
	
	z-index: 21;
	display: none;

	.search-open &,
	.fab-open &{
		display: block;
	}

	.fab-open &{
		background-color: rgba(#fff, .88);
	}
}

.image-modal{
	cursor: zoom-in;
}
// tabs-pure base styles
// .tabs__buttons{
// 	display: flex;
// }
// .tabs__container{
// }
// .tab-content,
// .tabs__buttons li{
// 	list-style-type: none;
// }
// .tab{
// 	text-decoration: none;
// 	display: block;
// 	&.active{
// 		background-color: pink;
// 	}
// }

// показ спойлеров на определенном разрешении. Включать только при установленном аттрибуте data-breakpoint="" у .accordion
// .accordion:not(.combine){
// 	.accordion__content.hidden{
// 		@include min-screen($md){
// 			display: block;
// 		}
// 	}
// }

// service ui elements styles
// @import "_misc/_tabs-accordion";
// @import "_misc/_form";
// @import "_misc/font-rating";//подключить, если для звез рейтинга исп-я. icomoon
// @import "_misc/_rating";
// @import "_misc/_noUiSlider-base";
// @import "_misc/_counter";
// @import "_misc/multilevel-dropdown.scss";

// исправление бага отсутствия прозрачности при fade--переходах с/у слайдами
// .swiper-container-fade{
// 	.swiper-slide{
// 		transition: opacity .5s !important;
// 	}
// }
/*--------------------END adjustment----------------------*/ 