/*--------------------ui----------------------*/
.btn{
  display: inline-block;
  text-decoration: none;
  color: $accent;

  @include max-screen($sm){
    font-size: rem(14);
  }

@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
		&:hover{
   	 	font-family: $med;

		}
	}

  @include max-screen($sm){
    position: relative;

    &:after{
      content: '';
      position: absolute;
      bottom: rem(-3);
      left: 0;
      right: 0;
      height: rem(1);
      background-color: $accent;

    }

  }
   
}

.toggle-mnu{
	position: relative;
  z-index: 6;
	// right: rem(30);
	// top: rem(15);
  display: none;
  width: rem(23.15);
  height: rem(14);
  margin-top: rem(-14);
  padding: 0;
  background-color: transparent;
  border: none;

  span:after, span:before{

    content: "";
    position: absolute;
    left: 0;
    top: rem(7);
  } 

  span:after{

    top: rem(14);
  }

  span{

    position: relative;
    display: block;
  } 

  span, span:after, span:before{

    width: 100%;
    height: rem(1);
    background-color: #000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: rem(2);
  }


  &.on span{

    background-color: transparent;
  } 

  &.on span:before{

    transform: rotate(45deg) translate(rem(-2), 0);
  } 

  &.on span:after{

    transform: rotate(-45deg) translate(rem(5), rem(-7));
  } 
} 

.heading{

  &--row {
    display: flex;
    flex-direction:row-reverse;
    align-items: baseline;
    justify-content: center;
    column-gap: rem(6);

    @include max-screen($sm){
      column-gap: rem(4); 
    }

    @include max-screen($xs){
      flex-direction: column-reverse;
      align-items: center;
    }

    .heading__title {
      @include max-screen($sm){
        font-size: rem(25);
      }
    }

    .heading__subtitle {

      font-size: rem(36);

      @include max-screen($lgg){
        font-size: rem(30);
      }
      @include max-screen($sm){
        font-size: rem(17);
      }
    }
  }
  
  &__subtitle{
    margin-bottom: rem(1.54);
    font-size: rem(22);

    @include max-screen($lgg){
      font-size: rem(19);
    }
     @include max-screen($sm){
      font-size: rem(15);
    }
   
  }
  &__title{
    font-size: rem(45);
    font-family: $med;

    @include max-screen($lgg){
      font-size: rem(34);
    }

     @include max-screen($sm){
      font-size: rem(27);
    }

    .heading--mob-title-25 &{
       @include max-screen($sm){
         font-size: rem(25);
      }
    }

    span{
      font-size: rem(22);

      @include max-screen($lgg){
        font-size: rem(19);
      }
      @include max-screen($sm){
        font-size: rem(15);
      }
    }
  }

  @include max-screen($sm){
    text-align: center;
  }
}
// tiny-slider
[data-action="stop"],
  [data-action="start"]{
    display: none;
  }
  .tns-nav{
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(110.64);
    justify-content: center;
    gap: rem(9.63);
    // width: 100%;

    @include max-screen($lgg){
      margin-top: rem(89);
      column-gap: rem(13.27);
    }
    @include max-screen($sm){
      column-gap: rem(8.72);
      margin-top: rem(76.77);
    }

    button{
      @include but-null();
      // display: inline-block;
      width: rem(10.13);
      height: rem(10.13);
      border-radius: 50%;
      background-color: $text-gray;

      @include max-screen($lgg){
        
      }
      @include max-screen($sm){
        width: rem(6.66);
        height: rem(6.66);
      }

      &.tns-nav-active{
        background-color: $accent;
      }
    }
  }

.carousel-ordinary{
  .tns-nav{
    margin-top: rem(68);

    @include max-screen($lgg){
      margin-top: rem(41);
    }
    @include max-screen($md){
      margin-top: rem(31);
    }
  }

  .tns-prev,
  .tns-next {
    position: absolute;
    top: calc(50% - rem(15 + 68));
    width: rem(30);
    height: rem(30);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include but-null();

    @include max-screen($lgg){
      top: calc(50% - rem(15 + 40));
    }
    @include max-screen($md){
      top: calc(50% - rem(15 + 31));
    }
  }
  .tns-prev{
    left: prc(-150, $maxWidthContainer);
  }
  .tns-next {
    right: prc(-130, $maxWidthContainer);

  }
}
// END tiny-slider
.text{
  font-size: rem(22);

  @include max-screen($lgg){
    font-size: rem(19);
  }
  @include max-screen($sm){
    font-size: rem(13);
  }
}
.text-17{
  line-height: 170%;

  @include max-screen($lgg){
    font-size: rem(15);
  }
  @include max-screen($sm){
    font-size: rem(13);
    line-height: 140%;
  }
}
.marker{
  @include max-screen($sm){
    color: $accent;
  }
}
/*--------------------END ui----------------------*/ 