/*--------------------ui----------------------*/
.btn{
  display: inline-block;
  text-decoration: none;
  color: $accent;

  @include max-screen($sm){
    font-size: rem(14);
  }

@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
		&:hover{
   	 	font-family: $med;

		}
	}

  @include max-screen($sm){
    position: relative;

    &:after{
      content: '';
      position: absolute;
      bottom: rem(-3);
      left: 0;
      right: 0;
      height: rem(1);
      background-color: $accent;

    }

  }
   
}

.toggle-mnu{
	position: relative;
  z-index: 6;
	// right: rem(30);
	// top: rem(15);
  display: none;
  width: rem(23.15);
  height: rem(14);
  margin-top: rem(-14);
  padding: 0;
  background-color: transparent;
  border: none;

  span:after, span:before{

    content: "";
    position: absolute;
    left: 0;
    top: rem(7);
  } 

  span:after{

    top: rem(14);
  }

  span{

    position: relative;
    display: block;
  } 

  span, span:after, span:before{

    width: 100%;
    height: rem(1);
    background-color: #000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: rem(2);
  }


  &.on span{

    background-color: transparent;
  } 

  &.on span:before{

    transform: rotate(45deg) translate(rem(-2), 0);
  } 

  &.on span:after{

    transform: rotate(-45deg) translate(rem(5), rem(-7));
  } 
} 

.heading{
  &__subtitle{
    margin-bottom: rem(1.54);
    font-size: rem(22);

    @include max-screen($lgg){
      font-size: rem(19);
    }
     @include max-screen($sm){
      font-size: rem(15);
    }
  }
  &__title{
    font-size: rem(45);
    font-family: $med;

    @include max-screen($lgg){
      font-size: rem(34);
    }

     @include max-screen($sm){
      font-size: rem(27);
    }

    span{
      font-size: rem(22);

      @include max-screen($lgg){
        font-size: rem(19);
      }
      @include max-screen($sm){
        font-size: rem(15);
      }
    }
  }

  @include max-screen($sm){
    text-align: center;
  }
}
/*--------------------END ui----------------------*/ 