.menu-list{
	display: flex;

	@include max-screen($multilevelPoint){
		display: block;
	}  
	li{
		list-style-type: none;
	}
	a{
		text-decoration: none;
	}

}
.menu-list__item{
	display: flex;
	align-items: center;
	position: relative;

	@include max-screen($multilevelPoint){
		display: block;
	}  
	&:not(:last-child){
		margin-right: rem(10);

		@include max-screen($multilevelPoint){
			margin-right: 0;
		}  

	}
	.submenu-list{
		left: 0;

		top: 100%;
		
		// background-color: gray;
	}
}

.submenu-list__item{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include max-screen($multilevelPoint){
		display: block;
	}  

	a{
		display: block;
		padding: rem(5) rem(10);
		flex: 1 0 auto;
	}
	.submenu-list{
		left: 100%;
		top: 0;

		@include max-screen($multilevelPoint){
			position: relative;
			left: 0;
		}
	}


}
 [data-dropdowned]{
 	// display: flex;
	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{
			& >.submenu-list{
				visibility: visible;
			opacity: 1;
			}
			& > .menu-list__icon{
				transform: rotate(180deg);
			}
		}
	}
	&.active{
		& > .menu-list__icon{
			transform: rotate(180deg);
		}

		& > .submenu-list{
			visibility: visible;
			opacity: 1;

			@include max-screen($md){
				display: block;
			}  
		}
	}

 }
.menu-list__icon{
	@include but-null();
	width: rem(12);
	height: rem(20);
	margin: 0 rem(5);
	// outline: 1px solid red;
	position: relative;
	display: inline-block;

	&:after{
		content: '';
		@include absolute-center;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 5px 0 5px;
		border-color: #000 transparent transparent transparent;
		
		@include max-screen($md){
			border-width: 7px 7px 0 7px;

		}
	}

	@include max-screen($md){
		position: absolute;
		top: rem(4);
		right: 0;
		margin: 0;
	}  
}
.submenu-list{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: all .2s ease;
	min-width: rem(200);
	padding: rem(15) rem(10);
	background-color: #E6E6E6;

	@include max-screen($md){
		position: relative;
		// padding-left: rem(10);
		visibility: visible;
		opacity: 1;
		display: none;
		background-color: transparent;
	}  
	a{
		font-size: rem(15.5);
		text-decoration: none;

		@include max-screen($lg){
			font-size: rem(14);
			
		}
		@include max-screen($lgg){
			font-size: rem(12);
		}
		@include max-screen($md){
			font-size: rem(18);
			color: $text;
			font-family: $med;
		} 
	}
}
.submenu-list__link{
}