section.mission
	.mission__wrapper.padding-inline-75
		h2.mission__title.text-center Наша миссия #[span –  дарить клиентам хорошее настроение и&#160;высокий тонус,]

		p.mission__descr #[span –  дарить клиентам хорошее настроение и&#160;высокий тонус,] круглосуточно обеспечивая вкусным кофе и перекусами, сокращая расстояние между клиентом и&#160;местом приобретения продукта

	.mission__image(style="background-image: url(img/team.jpg);")
		//- img._fit-img(src="img/team.jpg" alt="alt")