section.partners
	.partners__wrapper.padding-inline-75
		h2.partners__title.text-center Наши партнёры о нас

		.partners__items
			- for (var i=0; i < 4; i++)
				a(href="img/devices-page/buffets/buffet.jpg").partners__item.image-modal._fit
					img._fit-img(src="img/devices-page/buffets/buffet.jpg" alt="alt")
		
		.partners__bottom
			p всегда приятно работать с лучшими