.cacao.school-section.gray-bg
	.cacao__wrapper
		.cacao__title.text-center Вариант оформления какао-зоны для отдыха учащихся
		//- Общий блок слайдера
		.tiny-carousel.cacao__carousel
			//- Навигация кастомная (если требуется)
			//- в js добавить параметр controlsContainer: '.tiny-carousel__nav'
			.tiny-carousel__nav
				button(type="button" class="tns-prev") <
				button(type="button" class="tns-next") >
			
			//- Собственно, слайдер
			.tiny-sldr.cacao__slider
				- for (var i=0; i < 2; i++)
					.cacao__slide._fit
						img._fit-img(src="img/school-page/cacao/"+(i+1)+".jpg" alt="alt")