section.guarantee.school-section.gray-bg
	.guarantee__wrapper
		.heading.guarantee__heading.text-center
			h2.heading__title.guarantee__title Гарантируем
			
		.guarantee__content
			ul.guarantee__list
				li.guarantee__item соблюдение требований #[span.guarantee__marker СанПин&#160;2.3/2.4.3590-20,] а также #[span.guarantee__marker регионального стандарта] по&#160;обеспечению горячим питанием обучающихся государственных образовательных организаций Санкт-Петербурга

				li.guarantee__item качество и безопасность товара: в&#160;наличие все сертификаты и&#160;лицензии
				
				li.guarantee__item мониторинг сроков годности на всех этапах хранения товара

				li.guarantee__item cанитарную обработку торгового оборудования#[span.guarantee__dots :] #[span.guarantee__hidden-text в&#160;соответствии с&#160;применением моющих СанПин 2.3/2.4.3590-20, п. 3.11. Предоставляем и соблюдаем график обслуживания]
		
		p.guarantee__text аппараты автоматической выдачи пищевой продукции и аппараты по приготовлению напитков обрабатываются согласно инструкции производителя с применением моющих и дезинфицирующих средств. СанПин  2.3/2.4.3590-20  п. 3.11. Предоставляем и соблюдаем график обслуживания