section.healthy-snack.gray-bg.school-section
	.healthy-snack__wrapper
		h2.healthy-snack__title.text-center Полезный перекус – это важная составляющая питания школьника. 
			span Весь ассортимент подобран 
				br
				| с заботой о здоровье учащихся.
	
	.healthy-snack__image._fit
		//- img._fit-img(src="img/school-page/school-snack/school-snack-img-3.jpg" alt="alt")
		img._fit-img(src="img/school-page/school-snack/school-snack-img-lg.jpg" alt="alt")

.assortment.assortment--school.gray-bg.school-section
	.assortment__wrapper
		.assortment__content.assortment__content--school
			.assortment__text
				p В торговых автоматах перекус возможен  
					br
					| во&#160;внеурочное время на&#160;дополнительных 
					br
					|и&#160;вечерних занятиях. #[a(href="#") Всегда в Наличии] 
					br
					| и&#160;шаговой доступности быстрый  
					br 
					| перекус и&#160;питьевая вода. 
					br
					| #[span Мы&#160;организуем:]
		
			.assortment__picts
				.assortment__picts-inner
					.assortment__pict
						img(src="img/school-page/school-snack/picts/1.svg" alt="alt")

					.assortment__pict
						img(src="img/school-page/school-snack/picts/2.svg" alt="alt")

					.assortment__pict
						img(src="img/school-page/school-snack/picts/3.svg" alt="alt")
					.assortment__pict
						img(src="img/school-page/school-snack/picts/4.svg" alt="alt")
					
					.assortment__shedule
						img(src="img/school-page/school-snack/picts/5.svg" alt="alt")

				.assortment__mode
					img(src="img/school-page/school-snack/picts/mode.svg" alt="alt")

		
		.assortment__bottom
			.assortment__mode
				img(src="img/school-page/school-snack/picts/mode.svg" alt="alt")
