section.individual.school-section.wht-bg
	.individual__wrapper
		.individual__container
			.individual__image._fit
				img._fit-img(src="img/school-page/individual/individual-img.jpg" alt="alt")
			.individual__content
				.individual__button-mob
				.individual__block
					.heading.individual__heading
						.heading__subtitle учтём индивидуальные
							br
							| пожелания
						h2.heading__title.individual__title Individual

					p.individual__text За перемену успеют поесть даже самые маленькие. 
						br 
						|	Без очередей и контакта с&#160;продавцом
			
				.individual__button(data-da="individual__button-mob, 767.98, first")
					img(src="img/school-page/individual/ind-btn.svg" alt="alt")