section.school-auto.school-section.gray-bg
	.school-auto__wrapper
		.heading.school-auto__heading.text-center
			.heading__subtitle питание в вендинг-автоматах
			h2.heading__title 24/7

		.school-auto__descr перекус возможен во внеурочное время на дополнительных и вечерних занятиях

	.school-auto__image._fit
		img._fit-img(src="img/school-page/boy-lg.jpg" alt="alt")