.school-hero(data-fab-fade)
	//- .school-hero__image(style="background-image: url(img/school-page/school-hero-img.jpg);")
	.school-hero__image._fit
		img._fit-img(src="img/school-page/school-hero-img.jpg" alt="alt")