section.elegant
	.elegant__wrapper
		.heading.elegant__heading.heading--mob-title-25
			h2.elegant__title.heading__title.heading--mob-title-25.text-center Elegant and Functional
		
		.elegant__container
			.elegant__col
				.elegant__image._fit
					img._fit-img(src="img/examples-page/3-lg.jpg" alt="alt")
			.elegant__col
				.elegant__image._fit
					img._fit-img(src="img/examples-page/4-lg.jpg" alt="alt")