section.example-style
	.example-style__wrapper
		.example-style__container
			.example-style__image._fit
				img._fit-img(src="img/examples-page/1.jpg" alt="alt")
			
			.example-style__content
				.heading.heading--mob-title-25
					h1.heading__title.example-style__title Стильное
						br
						| оформление
				
				.example-style__descr наших автоматов #[br]и&#160;кофе-поинтов привлечет #[br]дополнительный трафик #[br]и&#160;обеспечит комфортный #[br]отдых вашим посетителям
	
	.example-style__wrapper
		.example-style__visual._fit
			img._fit-img(src="img/examples-page/2.jpg" alt="alt")
		