section.servcomf
	.servcomf__wrapper
		.servcomf__top
			.heading.servcomf__heading.heading--mob-title-25
				h2.servcomf__title.heading__title.heading--mob-title-25.text-center Service and Comfort
			
			.servcomf__container
				.servcomf__left
					.servcomf__descr эстетика и&#160;функционал #[br]сервис и&#160;комфорт #[br]качество и&#160;вкус
					.servcomf__pict._fit
						img._fit-img(src="img/examples-page/5-lg.jpg" alt="alt")

				.servcomf__right
					.servcomf__visual._fit
						img._fit-img(src="img/examples-page/6-lg.jpg" alt="alt")
		.servcomf__bottom
			.servcomf__big._fit
				img._fit-img(src="img/examples-page/7-lg.jpg" alt="alt")

		.servcomf__footer
			p.text-center Мы работаем, чтобы #[br]вы наслаждались жизнью