/*--------------------footer----------------------*/
.footer {
	padding-top: rem(62.88);
	padding-bottom: rem(128.61);
	color: $text-gray;
	z-index: 2;

	background-color: #E6E6E6;

	@include max-screen($lgg){
		padding-top: rem(70);
	}
	@include max-screen($md){
		padding-top: rem(41.24);
		padding-bottom: rem(62.8);
	}
}
.footer__wrapper {
	display: grid;
	grid-template-columns: rem(180) 1fr;
	// grid-template-rows: auto auto auto;
	grid-column-gap: rem(20);

	@include max-screen($lgg){
		grid-template-columns: rem(220) 1fr;
		grid-column-gap: rem(57);

	}

	@include max-screen($md){
		grid-template-columns: rem(110) 1fr;
		grid-column-gap: rem(21.18);
		
	}
}
.footer__logo {
	margin-bottom: rem(48);
	display: flex;
	justify-content: flex-end;

	@include max-screen($lgg){
		margin-bottom: rem(33);
	}
	@include max-screen($sm){
		margin-bottom: rem(46.83);
		
	}
	img{
		max-width: rem(154.19);
		width: 100%;
		display: block;

		@include max-screen($sm){
			max-width: none;
			width: 100%;
		}
	}
}
.footer__menu {}
.menu-footer {
	// padding-left: rem(72);
		padding-top: rem(11);

	@include adaptive-value-rem('padding-left', 72, 0, $maxWidth, $minWidth, 1);

	@include max-screen($lgg){
		padding-left: 0;
	}

	@include max-screen($md){
		grid-row: span 2;
		padding-top: rem(2);
	}
}
.menu-footer__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@include adaptive-value-rem('column-gap', 69, 0, $maxWidth, $minWidth, 1);

	@include max-screen($lgg){
		column-gap: rem(31);
	}

	@include max-screen($md){
		flex-direction: column;
		row-gap: rem(11.85);
		align-items: flex-start;
	}
}
.menu-footer__item {
	list-style-type: none;
}
.menu-footer__link {
	font-size: rem(14.5);
	font-family: $med;
	text-decoration: none;
	color: $bg;

	@include max-screen($lgg){
		font-size: rem(14);
	}

	@include max-screen($sm){
		font-size: rem(12);
	}
}
.footer__socials {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	padding-right: rem(4.6);
}
.socials-footer {}
.socials-footer__item {
	list-style-type: none;

	&:not(:last-child){
		margin-bottom: rem(14.08);
		@include max-screen($sm){
			
			margin-bottom: rem(16.26);
		}
	}

}
.socials-footer__link {
	display: block;
	width: rem(42);
	height: rem(42);


	@include max-screen($sm){
		width: rem(29.2);
		height: rem(29.2);
	}

	img{
		display: block;
		width: 100%;
		max-height: 100%;
	}
	&--vk{
		img{
			width: 94%;
		}
	}
}
.footer__info {
	font-family: $med;
	font-size: rem(14.5);
	@include adaptive-value-rem('padding-left', 49, 0, $maxWidth, $minWidth, 1);

	@include max-screen($lgg){
		padding-left: 0;
		font-size: rem(13);
	}

	@include max-screen($md){
		grid-column: span 2;
		margin-top: rem(31.54);
		font-size: rem(12);
	}
}
.footer__inns {
	margin-top: rem(28);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	column-gap: rem(23);
	row-gap: rem(5);

	@include max-screen($sm){
		column-gap: rem(6);
		margin-top: rem(20);
	}
}
.footer__inns-item {

}
.info-footer__row{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	column-gap: rem(10);

	&:first-child{
		margin-bottom: rem(11);
	}

	&--questions{

		@include max-screen($xs){
			flex-direction: column;
			align-items: flex-start;
		}

		.info-footer__col{
				margin-bottom: rem(11);	


		}
	}
	&--address{
		font-style: normal;
		@include max-screen($xs){
			column-gap: rem(6);
		}
		
	}
	
}
.info-footer__col{
	line-height: 150%;

	span{
		@include max-screen($sm){
			display: block;
			margin-bottom: rem(11);
		}
	}
}
/*--------------------END footer----------------------*/ 