/*--------------------header----------------------*/
.header{
  position: sticky;
  z-index: 22;
  width: 100%;
  left: 0;
  top: 0;
  // min-height: 100px; /*опционально*/
  background-color: rgba($bg, 0.88);

  .search-open &{
  	background-color: transparent;
  }
}
.header__wrapper{
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  // min-height: 100px;/*опционально*/
  transition: all .5s ease;/*опционально*/
}
// header._scroll .header__wrapper{
//   min-height: 50px;/*опционально*/
// }
.header__wrapper {}
.header__body {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: rem(64);

	@include max-screen($lgg){
		padding-left: rem(32);
		padding-right: rem(32);
	}

	@include max-screen($md){
		padding-left: 0;
		padding-right: 0;
	}

	@include max-screen($md){
		min-height: rem(52);

	}
}
.header__logo {
	max-width: rem(32.11);
	flex-shrink: 0;
	@include adaptive-value-rem('margin-right', 103.89, 10, $maxWidth, $minWidth, 1);
	img{
		width: 100%;
	}

	@include max-screen($lg){
		margin-right: rem(43);
	}
}
.header__menu {}
.menu-header {
	margin-top: rem(7);

	@include menu-mob($media: $md, $burgerColor: #fff, $burgerOpenColor: $text, $plateBgColor: #fff, $plateHeight: 52);
	@include max-screen($md){
		margin-left: auto;
	}
}
.toggle-mnu {}
.menu-header__body {

	@include max-screen($md){
		background-color: #fff;
	}
}
.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@include adaptive-value-rem('column-gap', 48, 10, $maxWidth, $minWidth, 1);
	row-gap: rem(5);

	@include max-screen($lgg){
		column-gap: rem(29);
	}
	@include max-screen($md){
		flex-direction: column;
		align-items: flex-start;
		row-gap: rem(25);
		padding: rem(95) rem(30) rem(30) rem(30);
	}
}
.menu__item {
	list-style-type: none;
}
.menu__link {
	font-size: rem(15.5);
	color: #fff;
	letter-spacing: .3;
	text-decoration: none;

	@include max-screen($lgg){
		font-size: rem(14);
	}
	@include max-screen($md){
		color: $text;
		font-size: rem(22);
		font-family: $med;
		line-height: rem(54);
	}
}
.header__search-button {
	flex-shrink: 0;
	margin-top: rem(7);
	@include but-null;
	@include adaptive-value-rem('margin-left', 79.7, 10, $maxWidth, $minWidth, 1);
	width: rem(18.39);
	height: rem(17);

	@include max-screen($lg){
		margin-left: rem(35.46);
	}
	@include max-screen($md){
		margin-left: rem(29.34);
		width: rem(19.86);
		height: rem(18.36);
	}

	img{
		width: 100%;
		max-height: 100%;
	}


}
.header__serch-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: rem(395);
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s ease;
	background-color: rgba($bg, .88);

	@include max-screen($lgg){
		position: fixed;
		height: 100%;
	}

	.search-open & {
		visibility: visible;
		opacity: 1;
	}
}
.header__serch-form {}
.serch-form-header {
		padding-top: rem(calc(55 + 64));
	@include min-screen($md){
		padding-left: rem(81.2);
		
	}
}
.serch-form-header__label {
	display: flex;
	align-items: center;
	column-gap: rem(31);
}
.serch-form-header__submit{
	@include but-null();
	width: rem(24.88);
	height: rem(23);
	display: flex;
	align-items: center;
	justify-content: center;

	img{
		width: 100%;
		max-height: 100%;
	}
}
.serch-form-header__input {
	height: rem(37);
	background-color: transparent;
	@include placecolor(#fff);
	font-size: rem(24);
	line-height: math.div(32.64, 24);
	font-family: inherit;
	color: #fff;
	letter-spacing: rem(0.5);
}
/*--------------------END header----------------------*/ 