/*--------------------hero----------------------*/
.hero {
	position: relative;
	min-height: rem(757.14);
	
	display: flex;
	align-items: flex-end;
	background-color: #EFF2F7;

	@include max-screen($lgg){
		// min-height: rem(721.64);
	}

	@include max-screen($md){
		min-height: rem(579);

	}
	@include min-screen($md){
		// height: auto;
		min-height: rem(600);
	}
	@include min-screen($lg){
		height: calc(100svh - 64px);
		min-height: 0;
	}
}
.hero__wrapper {
	display: flex;
	// flex-direction: column;
	justify-content: flex-end;
	// height: 100%;
	width: 100%;
}
.hero__content {
	max-width: rem(330);
	height: 100%;
	width: 100%;
	// padding-top: rem(358);
	margin-bottom: prc(120, $maxWidth);
	// margin-top: prc(358, $maxWidth);
		margin-right: prc(935, $maxWidth);
		// margin-left: prc(184, $maxWidth);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	z-index: 2;

	@include max-screen($lgg){
		// padding-top: rem(328);
		margin-right: prc(632, 1024);

	}
	@include max-screen($lgg){
		// padding-top: rem(328);
		// margin-right: prc(632, 1024);

	}
	@include max-screen($md){
		// padding-top: rem(300);
	}
	@include max-screen($sm){
		max-width: rem(232);
		// padding-top: rem(320);
		// margin-left: prc(150, 1024);
	}
	@include max-screen($xs){
		margin-right: 20%;
		max-width: none;
		margin-left: 0;
	}
	@include min-screen($sm){
		max-width: none;
		// margin-right: prc(800, $maxWidthContainer);
	}
	@include min-screen($md){
		margin-bottom: prc(320, $maxWidth);
	}
	@include min-screen(em(1180)){
		margin-bottom: prc(120, $maxWidth);
	}
}
.hero__slogan {
	font-family: $med;
	margin-bottom: rem(30);
	font-size: rem(22);
	color: #1A1A1A;
	text-align: right;

	@include max-screen($lgg){
		font-size: rem(19);
		margin-bottom: rem(25);
	}
	@include max-screen($md){
		font-size: rem(15);
		margin-bottom: rem(12);
		
	}
}
.hero__logo {
	width: 100%;
	max-width: rem(273);
	margin-bottom: rem(47);

	@include max-screen($lgg){
		margin-bottom: rem(41);
	}

	@include max-screen($md){
		max-width: rem(180);
	}

	img{
		display: block;
		width: 100%;
	}
}
.hero__text {
	line-height: 130%;
	text-align: right;
	@include dots-family-multi(5);

	@include max-screen($lgg){
		font-size: rem(15);
	}
	@include max-screen($md){
		font-size: rem(13);
	}
}
.hero__image {
	padding-bottom: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	// width: prc(1362.59, $maxWidth);
	// width: rem(1362.59);
	// text-align: right;
	// aspect-ratio: 1362.59 / 757.14;
		right: -10%;

	@include max-screen(em(1366)){
		right: -10%;
	}
	@include max-screen($lg){
		// right: -20%;
	}
	@include max-screen($lgg){
		// right: -22%;
		// width: rem(1298.54);
	}
	@include max-screen($md){
		right: -30%;
		// width: rem(1103.52);

	}
	@include max-screen($sm){
		// right: -40%;
		// width: rem(1103.52);

	}
	@include max-screen($xs){
		right: -60%;
		width: 200%;

	}
	@include max-screen($xss){
		right: -108%;
		// width: rem(1103.52);

	}

	._fit-img{
		// bottom: 0;
		// right: 0;

		width: prc(1362.59, $maxWidth);
		object-position: right top;

		@include max-screen($md){
			object-position: right bottom;
			
		}
	}
}
._fit {}
/*--------------------END hero----------------------*/ 