/*--------------------main-slider----------------------*/
.main-slider {
	padding-top: rem(208.09);
	padding-bottom: rem(423.66);

	@include max-screen($lgg){
		padding-top: rem(139.37);
		padding-bottom: rem(279.18);
	}
	@include max-screen($sm){
		padding-top: rem(90.76);
		padding-bottom: rem(156.78);
	}
}
.main-slider__wrapper {}
.main-slider__title {
	margin-bottom: rem(102);
	font-size: rem(22);

	@include max-screen($lgg){
		margin-bottom: rem(88.59);
		font-size: rem(19);
	}
	@include max-screen($sm){
		margin-bottom: rem(39.55);
		font-size: rem(14);
	}
}
.text-center {}
.main-slider__carousel {
	
}
.main-carousel {}
.tiny-carousel {}
.tiny-sldr {}
.main-carousel__slide {
}
.main-carousel__slide-wrap{
	aspect-ratio: 541 / 342;
	display: block;

	@include max-screen($lgg){
		aspect-ratio: 501.04 / 317.05;
	}
	@include max-screen($sm){
		aspect-ratio: 360 / 228.48;
	}
}
._fit {}
._fit-img {}
.tns-nav {}
/*--------------------END main-slider----------------------*/ 