/*--------------------main-slider----------------------*/
.main-slider {
	padding-top: rem(208.09);
	padding-bottom: rem(423.66);

	@include max-screen($lgg){
		padding-top: rem(139.37);
		padding-bottom: rem(279.18);
	}
	@include max-screen($sm){
		padding-top: rem(90.76);
		padding-bottom: rem(156.78);
	}
}
.main-slider__wrapper {}
.main-slider__title {
	margin-bottom: rem(102);
	font-size: rem(22);

	@include max-screen($lgg){
		margin-bottom: rem(88.59);
		font-size: rem(19);
	}
	@include max-screen($sm){
		margin-bottom: rem(39.55);
		font-size: rem(14);
	}
}
.text-center {}
.main-slider__carousel {
	[data-action="stop"],
	[data-action="start"]{
		display: none;
	}
	.tns-nav{
		display: flex;
		flex-wrap: wrap;
		margin-top: rem(110.64);
		justify-content: center;
		gap: rem(9.63);
		// width: 100%;

		@include max-screen($lgg){
			margin-top: rem(89);
			column-gap: rem(13.27);
		}
		@include max-screen($sm){
			column-gap: rem(8.72);
			margin-top: rem(76.77);
		}

		button{
			@include but-null();
			// display: inline-block;
			width: rem(10.13);
			height: rem(10.13);
			border-radius: 50%;
			background-color: $text-gray;

			@include max-screen($lgg){
				
			}
			@include max-screen($sm){
				width: rem(6.66);
				height: rem(6.66);
			}

			&.tns-nav-active{
				background-color: $accent;
			}
		}
	}
}
.main-carousel {}
.tiny-carousel {}
.tiny-sldr {}
.main-carousel__slide {
}
.main-carousel__slide-wrap{
	aspect-ratio: 541 / 342;
	display: block;

	@include max-screen($lgg){
		aspect-ratio: 501.04 / 317.05;
	}
	@include max-screen($sm){
		aspect-ratio: 360 / 228.48;
	}
}
._fit {}
._fit-img {}
.tns-nav {}
/*--------------------END main-slider----------------------*/ 