/*--------------------organize----------------------*/
.organize {
	position: relative;
	margin-top: rem(-1);
	padding-top: rem(83.86);
	padding-bottom: rem(124);
	background-color: #F2F2F2;

	@include max-screen($lgg){
		padding-top: rem(50.26);
		padding-bottom: rem(97.23);
	}
	@include max-screen($sm){
		padding-top: rem(55.52);
		padding-bottom: rem(78);
	}
	.heading {
		margin-bottom: rem(59.06);
		margin-left: prc(530, $maxWidth);

		@include max-screen($lgg){
			margin-bottom: rem(37.76);
			margin-left: prc(400, 1024);
		}
		@include max-screen($sm){
			margin-bottom: rem(31.51);
			margin-left: 0;
		}

	}
}
.organize__wrapper {}
.heading__subtitle {}
.heading__title {}
.organize__options {
	max-width: prc(580,  $maxWidthContainer);
	margin-left: prc(410,  $maxWidth);
	// margin-right: auto;
	margin-bottom: rem(60.74);

	@include max-screen($lgg){
		max-width: prc(376,  1024);
		margin-left: prc(323, 1024);
		margin-right: 0;
		margin-bottom: rem(50.86);
	}
	@include max-screen($sm){
		max-width: none;
		margin-left: 0;
		margin-bottom: rem(43.47);

	}

	@include max-screen($xs){
		max-width: rem(200);
		margin-left: auto;
		margin-right: auto;
	}
}
.organize__option {
	display: flex;
	align-items: center;
	column-gap: prc(45, 580);

	@include max-screen($lgg){
		column-gap: rem(30);
		
	}
	@include max-screen($sm){
		
		flex-direction: column;
		text-align: center;
		row-gap: rem(19);
	}
	&:not(:last-child){
		margin-bottom: rem(52.42);

		@include max-screen($lgg){
			margin-bottom: rem(18);
			
		}
		@include max-screen($sm){
			margin-bottom: rem(19);
			
		}
	}

}
.option-organize {}
.option-organize__icon {
	flex-shrink: 0;
	width: rem(54.09);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	transition: all 1s ease;
	transform: translateY(rem(20));
	opacity: 0;

	&.visible{
		transform: translateY(0);
		opacity: 2;
	}

	@include max-screen($lgg){
		width: rem(47.53);
		height: rem(45.48);
	}
	@include max-screen($md){
		width: rem(37.87);

	}

	&--rost{
		@include max-screen($md){
			width: rem(43.87);
			height: rem(33.66);
		}
	}

	img{
		// display: block;
		max-width: 100%;
		max-height: 100%;
	}
}
.option-organize__text {
	font-size: rem(21.9);
	line-height: 140%;

	@include max-screen($lgg){
		font-size: rem(19);
	}
	@include max-screen($md){
		font-size: rem(15);
	}

	br{
		@include min-screen($lgg){
			display: none;
		}
	}
}
.organize__bottom {

		padding-left: prc(530, $maxWidth);

	@include max-screen($lgg){
		
		padding-left: prc(400, 1024);
	}
	@include max-screen($sm){
		padding-left: 0;
		text-align: center;
	}

}
.btn {}
/*--------------------END organize----------------------*/ 