/*--------------------premium----------------------*/
.premium {
	padding-top: rem(121.56);
	padding-bottom: rem(148.13);

	@include max-screen($lgg){
		padding-top: rem(70.83);
		padding-bottom: rem(110.25);
	}
	@include max-screen($sm){
		padding-top: rem(51.5);
		padding-bottom: rem(78.46);
	}
}
.premium__wrapper {}
.heading {
	margin-bottom: rem(11.5);

	@include max-screen($lgg){
		margin-bottom: rem(8.66);
	}
	@include max-screen($sm){
		margin-bottom: rem(19.62);
	}
}
.heading__subtitle {}
.heading__title {}
.premium__title {}
.premium__image {
	margin-bottom: rem(53.87);
	margin-left: prc(138,$maxWidthContainer);
	margin-right: prc(138,$maxWidthContainer);


	@include max-screen($lgg){
		margin-bottom: rem(34.36);
		margin-left: prc(142,$maxWidthContainer);
		margin-right: prc(142,$maxWidthContainer);
	}
	@include max-screen($sm){
		margin-bottom: rem(37.29);
		margin-left: rem(-15);
		margin-right: rem(-15);
	}

	img{
		width: 100%;
		display: block;
	}
}
.premium__bottom {
	display: flex;
	column-gap: rem(20);
	line-height: 150%;


	@include max-screen($lgg){
		font-size: rem(15);
	}
	@include max-screen($sm){
		flex-direction: column;
		align-items: center;
		row-gap: rem(14.77);
		text-align: center;
		line-height: 120%;
	}
}
.premium__link {
	flex: 0 0 prc(480, $maxWidthContainer);

	@include min-screen($sm){
		text-align: right;
		
	}
}
.btn {}
.premium__text {
	flex: 0 0 prc(680, $maxWidthContainer);

	@include max-screen($sm){
		order: -1;
		font-size: rem(13);
	}

	p{
		max-width: rem(286);
	}
}
/*--------------------END premium----------------------*/ 