/*--------------------system----------------------*/
.system {
}
.system__top {
	position: relative;
	background-color: #000;
}
.system__wrapper {
	min-height: rem(570.44);

	@include max-screen($md){;
		min-height: rem(401.83);
		// padding-left: prc(162, 1024);
		// padding-right: prc(162, 1024);
	}
	@include max-screen($md){
		padding-left: rem(30);
		padding-right:rem(30);
	}
	@include max-screen($sm){
		min-height: rem(316.21);
		
	}
}
.system__top-wrapper{
	padding-top: rem(57.66);

	@include max-screen($lgg){
		padding-top: rem(40.82);
	}
	@include max-screen($sm){
		padding-top: rem(23.03);
	}
}
.system__heading {
	position: relative;
	z-index: 2;
	color: #fff;
	

	@include max-screen($sm){
		margin-left: rem(45);
	}
	@include min-screen($sm){
		margin-left: prc(400, 1024);
	}
	@include min-screen($lgg){
		margin-left: prc(530, $maxWidth);
	}
}
.system__logo {
	margin-bottom: rem(29.49);
	max-width: rem(43.01);

	@include max-screen($lgg){
		margin-bottom: rem(18.99);
		
	}
	@include max-screen($sm){
		max-width: rem(30.78);
		margin-bottom: rem(10);
	}

	img{
		width: 100%;
		display: block;
	}
}
.system__text {
	font-size: rem(21);
	@include max-screen($lgg){
		font-size: rem(17);
	}
	@include max-screen($sm){
		font-size: rem(15);
	}
}
.system__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	@include max-screen($xs){
		width: calc(135%);
	}
	@include max-screen($xsss){
		left: -35%;
		
	}
}
.system__picture {
	padding-bottom: 0;
	margin: 0 auto;
	max-width: rem($maxWidth);
	height: 100%;
	// aspect-ratio: $maxWidth / 570.44;

	._fit-img{
		@include max-screen($xsss){
			// left: -30%;
			object-position: left center;
		}
	}
}

.system__content {
	padding-top: rem(75.88);
	padding-bottom: rem(170);
	background-color: #F2F2F2;

	@include max-screen($lgg){
		padding-top: rem(74.07);
		padding-bottom: rem(146.52);
	}
	@include max-screen($sm){
		padding-top: rem(46.5);
		padding-bottom: rem(65.22);
	}
}
.system__wrapper {}
.system__descr {
	margin-left: prc(100, $maxWidthContainer);
	font-size: rem(22);

	@include max-screen($lgg){
		margin-left: 0;
		font-size: rem(19);
	}
	@include max-screen($sm){
		font-size: rem(15);
	}
}
.descr-system {}
.descr-system__chapter {
	margin-bottom: rem(38);
	max-width: rem(320);

	@include max-screen($sm){
		max-width: rem(220);
		margin-left: rem(46);
	}
}
.descr-system__app {
	// max-width: rem(550);
	margin-bottom: rem(10);

	@include max-screen($lgg){
		margin-bottom: rem(8);
	}
	@include max-screen($sm){
		line-height: 170%;
		margin-bottom: rem(5);
		line-height: 200%;
	}

	a{
		font-size: rem(36);
		color: $accent;
		text-decoration: none;
		line-height: 176%;
		font-family: $light;
		// font-weight: 300;

		@include max-screen($lgg){
			font-size: rem(33);
			line-height: 170%;
		}

		@include max-screen($sm){
			font-size: rem(25);
			line-height: 150%;
		}

		@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
					font-family: $med;
				}
			}
	}
}
.parameters-title{
	margin-bottom: rem(135.68);

	@include max-screen($lgg){
 		margin-bottom: rem(101.21);	
 	}
 	@include max-screen($md){
 		margin-bottom: rem(64.19);	
 		
 	}
}
.system__items {
 	@include flex-cols-gap(70, 78, 3, ($md: 1), 'item-system', 1);

 	@include max-screen($lgg){
 		row-gap: rem(39);	
 	}
}
.system__item {
	// outline: 1px solid red;
	// display: flex;
	// flex-direction: column;
	font-size: rem(17);

	&--title{
		.item-system__icon{
			display: none;
		}
	}

	&[data-trigger]{
		transition: all .7s ease-out;
		opacity: 0;
		transform: translateX(rem(40));
	
		&.visible{
			opacity: 1;
			transform:translateX(0);
		}
	}

	@include max-screen($lgg){
		font-size: rem(15);
	}

	&:not(.system__item--title){
		@include max-screen($md){
			display: grid;
			grid-template-columns: rem(34) 1fr;
			grid-template-rows: repeat(3, auto);
			grid-column-gap: rem(30);
		}

	}
	@include max-screen($sm){
		margin-left: prc(46,300);
		margin-right: prc(46,300);

	}
	@include max-screen($mins){
		margin-left: 0;
		margin-right: 0;
	}
}
.item-system {}
.item-system__icon {
	// outline: 1px solid green;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: rem(70);
		height: rem(39.51);

	&--clock{
		width: rem(46.85);
		// height: rem(46.85);

		@include max-screen($lgg){
			width: rem(37.95);
			// height: rem(37.95);
		}
		@include max-screen($sm){
			width: rem(33.85);
			height: rem(33.85);
		}
	}
	&--user{
		width: rem(41.33);
		// height: rem(47.8);


		@include max-screen($lgg){
			width: rem(34.14);
			// height: rem(39.51);
		}
		@include max-screen($sm){
			width: rem(30.77);
			height: rem(35.55);
		}
	}
	&--time{
		width: rem(38.05);
		// height: rem(43.02);


		@include max-screen($lgg){
			width: rem(30.07);
			// height: rem(34);
		}
		@include max-screen($sm){
			width: rem(27.73);
			height: rem(31.36);
		}
	}

	&--circle{
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: rem(5);

		@include min-screen($md){
			display: none;
		}
	}

	@include max-screen($lgg){
		margin-bottom: rem(65.45);
	}

	@include max-screen($md){
		margin-bottom: 0;
		grid-row: 1 / 3;
	}

	@include min-screen(em(1024)){
		left: rem(-20);
	}

	img{
		display: block;
		width: 100%;
		height: 100%;
	}
}
.item-system__circle{
	width: rem(12);
	height: rem(12);
	border: 2px solid #666666;
	border-radius: 50%;
}
.item-system__title {
	margin-bottom: rem(13);
	font-family: $med;
	line-height: 150%;

	br{
		@include min-screen($sm){
			display: none;
		}
	}
}
.item-system__text {
	font-family: $light;

	@include max-screen($md){
		grid-column: 2 / 3;
	}
}
/*--------------------END system----------------------*/ 