section.credence
	.credence__wrapper
		h1.credence__title.text-center Нам доверяют
		
		.credence__content
			.credence__image
				picture
					source(srcset='img/why-page/logos-sm.png', media='(max-width: 767.98px)')
					source(srcset='img/why-page/logos-md.png', media='(max-width: 1380px)')
					source(srcset='img/why-page/logos-lg.png')
					img(srcset='img/why-page/logos-lg.png', alt='logos')

