section.proff.wht-bg
	.proff__wrapper.padding-inline-75
		h2.proff__title.title-34.text-center Профессиональное обслуживание
			br
			| опыт - 18 лет

		- var items = ['Используем современные технологии - <br>автоматизированный удаленный контроль <br>качества горячих напитков, «умный» график <br>загрузки и обслуживания автоматов, <br>бесперебойная безналичная оплата', 'Бонусы, скидки, акции, программы <br>лояльности - интеграция под потребности <br>бизнеса, индивидуальные лимиты через NFC <br>карты. Свое мобильное приложение', 'Собственная техническая служба. <br>Удаленный мониторинг и оперативное <br>решение технических неисправностей <br>торговых автоматов', 'Высокое качество товара. Прямые контракты <br>с заводами-производителями на поставку <br>ингредиентов и товаров, наличие всех <br>сертификатов соответствия'];
		.proff__items
			each item, i in items
				.proff__item.item-proff
					.item-proff__icon
						img(src="img/why-page/proff/"+(i+1)+".svg" alt="alt")
					p.item-proff__text!= item