.ruler
	.ruler__wrapper.padding-inline-75
		.ruler__text Широкая линейка торговых автоматов – размер, возможности 
			br
			| и наполнение подберем индивидуально под потребности любого бизнеса
		.ruler__items
			- for (var i=0; i < 3; i++)
				.ruler__item
					img(src="img/why-page/machines/"+(i+1)+".svg" alt="alt")