section#smartmarkets.buffets
	.buffets__top
		.buffets__wrapper.padding-inline-75
			.heading.heading--row.buffets__heading.heading--mob-title-25
				.heading__subtitle – буфеты и смартмаркеты
				h2.heading__title.buffets__title Удобно
	
	.buffets__body.body-buffets
		.buffets__wrapper.padding-inline-75
			.buffets__container
				.buffets__visual._fit
					img._fit-img(src="img/devices-page/buffets/buffet-lg.jpg" alt="alt")

				.buffets__other
					.buffets__dishes._fit
						img._fit-img(src="img/devices-page/buffets/dishes-lg.jpg" alt="alt")
					.buffets__picts
						img(src="img/devices-page/buffets/buffets-picts.svg" alt="alt")