.cocktails
	.cocktails__wrapper
		.cocktails__title.text.text-center кофейные и молочно-фруктовые коктейли уже&#160;в&#160;вендинге
		
		.cocktails__picts
			.cocktails__icons
				img(src="img/devices-page/coctails/coctails-picts.svg" alt="alt")
				//- - for (var i=0; i < 6; i++)
				//- 	.cocktails__icon
				//- 		img(src="img/devices-page/coctails/"+ (i+1) + ".svg" alt="alt")
	.cocktails__image._fit
		img._fit-img(src="img/devices-page/coctails/coctails-img-lg.jpg" alt="alt")
		//- img._fit-img(src="img/devices-page/coctails/coctails-img-2.jpg" alt="alt")