section.comfort-class
	.comfort-class__wrapper.padding-inline-75
		.comfort-class__container
			.heading.comfort-class__heading.heading--mob-title-25
				.heading__subtitle кофе-машины класса
				h2.heading__title.comfort-class__title Comfort

			.comfort-class__image._fit
				img._fit-img(src="img/devices-page/machines/comfort-2.jpg" alt="alt")
			
			p.comfort-class__descr.text-17 Мы оснащаем наши кофе-поинты самыми современными 
				br
				| кофе-машинами. Вы можете выпить чашечку 
				br
				| премиального кофе на&#160;месте или&#160;взять её с&#160;собой, 
				br
				| добавив к нему любое количество вкусного сиропа. 
				br
				| Идеальное сочетание кофе с&#160;вашими пожеланиями.
			
		
			