section.devices-top(data-fab-fade)
	.devices-top__wrapper
		.devices-top__wrapper__slogan.text Размер, Вместимость и Модель #[br]подберём индивидуально
		.heading.devices-top__heading.text-center
			.heading__subtitle.devices-top__subtitle – кофейные автоматы
			h1.heading__title.devices-top__title Модно