section.device
	.device__wrapper
		.heading.device__heading.heading--mob-title-25.text-center
			.heading__subtitle кофейно-коктейльный автомат
			h2.heading__title.device__title #[div.device__title-desk Jetinno] #[div.device__title-mob JL300]

	.device__anim
		.device__wrapper
			.device__anim-inner
				.device__gif._fit
					img._fit-img(src="img/devices-page/gif-converter.gif" alt="alt")