section.minimarkets
	.minimarkets__wrapper.padding-inline-75
		.minimarkets__container
			.minimarkets__item.minimarkets__item--minimarket
				.minimarkets__tile
					.heading.minimarkets__heading.heading--mob-title-25
						.heading__subtitle смартмаркет
						h2.heading__title.minimarkets__title Minimarket
						p.text-17 всегда свежая и&#160;здоровая&#160;еда

				.minimarkets__content
					.minimarkets__smartimage._fit
						img._fit-img(src="img/devices-page/minimarket/soy-milk-lg.jpg" alt="alt")

					p.text Круглосуточное
						br 
						| питание в шаговой 
						br 
						| доступности
			
			.minimarkets__item.minimarkets__item--buffet
				.minimarkets__tile
					.heading.minimarkets__heading.heading--mob-title-25
						.heading__subtitle смарт-буфет
						h2.heading__title.minimarkets__title Buffet
						p.text-17 широкий ассортимент напитков и&#160;закусок

				.minimarkets__content
					.minimarkets__buffetimage._fit
						img._fit-img(src="img/devices-page/minimarket/elevator-lg.jpg" alt="alt")