section.text-automats#snack-machines
	.text-automats__top
		.text-automats__wrapper.padding-inline-75
			.heading.heading--row.text-automats__heading.heading--mob-title-25
				.heading__subtitle – снековые автоматы
				h2.heading__title.text-automats__title Технологично
	
	.text-automats__body.body-text-automats
		.text-automats__wrapper.padding-inline-75
			.text-automats__container
				.text-automats__content
					.body-text-automats__content
						.heading.body-text-automats__heading.heading--mob-title-25
							.heading__subtitle снек-бары
							h3.heading__title.body-text-automats__title Snacks
						
						p.text-automats__desct.text-17 организованный #[br]вкусный перекус #[br]для&#160;любой команды

					.text-automats__snacks
						img(src="img/devices-page/machines/snacks-lg.jpg" alt="alt")
				
				.text-automats__image
					img(src="img/devices-page/machines/bar-lg.jpg" alt="alt")