section.text-automats
	.text-automats__top
		.text-automats__wrapper
			.heading.heading--row.text-automats__heading.heading--mob-title-25
				.heading__subtitle – снековые автоматы
				h2.heading__title.text-automats__title Технологично
	
	.text-automats__body.body-text-automats
		.text-automats__wrapper
			.text-automats__container
				.text-automats__content
					.body-text-automats__content
						.heading.body-text-automats__heading.heading--mob-title-25
							.heading__subtitle снек-бары
							h3.heading__title.body-text-automats__title Snacks
						
						p.text-automats__desct.text-17 организованный вкусный перекус
							br
							| для любой команды

					.text-automats__snacks._fit
						img._fit-img(src="img/devices-page/machines/snacks.jpg" alt="alt")
				
				.text-automats__image
					img(src="img/devices-page/machines/bar.jpg" alt="alt")