/*--------------------section.allowed----------------------*/
.allowed {
	padding-top: rem(169.02);
	

	@include max-screen($lgg){
		padding-top: rem(108.13);
		
	}
	@include max-screen($md){
		padding-top: rem(45.06);
	}
}
.school-section {}
.gray-bg {}
.allowed__wrapper {

	@include min-screen(em($maxWidth)){
		max-width: rem(900);
	}
}
.heading {}
.allowed__heading {
	margin-bottom: rem(48.78);
	

	@include max-screen($lgg){
		margin-bottom: rem(52);
	}

	@include min-screen(em($maxWidth)){
		margin-bottom: rem(28.78);
	}
}
.heading__title {}
.allowed__items {

	// display: flex;
	// flex-wrap: wrap;
	// column-gap: prc(90, $maxWidthContainer);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	// column-gap: prc(40, $maxWidthContainer);
	column-gap: rem(20);
	row-gap: rem(33.65);
	
	margin-bottom: rem(96);

	@include max-screen($lgg){
		margin-left: prc(142, 1024);
		margin-right: prc(142, 1024);
		row-gap: rem(51);
		margin-bottom: rem(85);

	}
	@include max-screen($md){
		margin-left: 0;
		margin-right: 0;
	}
	@include max-screen($sm){
		grid-template-columns: repeat(2, 1fr);
		row-gap: rem(16.58);
		margin-bottom: 0;
	}
	@include max-screen($xs){
		margin-left: rem(26);
		margin-right: rem(26);
	}


	@include min-screen(em($maxWidth)){
		row-gap: rem(10);
	}
}
.allowed__item {
	text-align: center;

	&:nth-child(1){
		@include max-screen($xs){
			order: 5;

		}
	}
	&:nth-child(2){
		.item-allowed__icon{
			position: relative;
			top: -11px;

			@include max-screen($lgg){
				max-width: rem(136.48);
				top: -5px;
			}

			@include max-screen($xs){
				max-width: rem(75.12);
				margin-top: rem(-8);
				margin-bottom: rem(7);
			}

			// @include min-screen(em($maxWidth)){
				
			// }

		}
		@include max-screen($xs){
			order: 6;
		}
	}
	&:nth-child(3){
		.item-allowed__text{
			br{
				&:first-child{
					display: none;

					@include max-screen($lgg){
						display: block;
					}
				}

			}
		}
	}

}
.item-allowed {}
.item-allowed__icon {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	// margin-bottom: rem(24.31);
	margin-bottom: rem(21);
	height: rem(189.44);
	max-width: rem(206.58);
	

	@include max-screen($lgg){
		max-width: rem(106.8);
		height: rem(120);
		// margin-bottom: rem(18);
		margin-bottom: rem(17.2);
	}
	@include max-screen($sm){
		max-width: rem(60);
		height: rem(67.55);
		margin-bottom: rem(10.23);
	}

	@include min-screen(em($maxWidth)){
		transform: scale(0.8);	
		margin-bottom: 0;
	}

	img{
		max-height: 100%;
		max-width: 100%;
	}
}
.item-allowed__text {
	font-size: rem(17);
	text-transform: uppercase;

	@include max-screen($lgg){
		font-size: rem(15);
	}
	@include max-screen($xs){
		font-size: rem(10);
	}

	@include min-screen(em($maxWidth)){
		font-size: rem(13);
	}
}
.allowed__bottom{
	text-align: center;

	@include max-screen($sm){
		display: none;
	}

	a{
		font-family: $med;
	}
}
/*--------------------END section.allowed----------------------*/ 