/*--------------------cacao----------------------*/
.cacao {
	padding-bottom: rem(405);
	padding-top: rem(142);

	@include max-screen($lgg){
		padding-top: rem(131);
		padding-bottom: rem(156.95);
	}
	@include max-screen($md){
		padding-top: rem(83);
	}
}

.cacao__wrapper {}
.cacao__title {
	font-size: rem(22);
	margin-bottom: rem(54);

	@include max-screen($lgg){
		margin-bottom: rem(38);
		font-size: rem(22);
	}
	@include max-screen($md){
		margin-bottom: rem(24);
		font-size: rem(15);
	}
}
.tiny-carousel {}
.cacao__carousel {
	position: relative;
	margin-left: prc(100, $maxWidthContainer);
	margin-right: prc(100, $maxWidthContainer);

	@include max-screen($lgg){
		margin-left: prc(145, 1024);
		margin-right: prc(145, 1024);
	}
	@include max-screen($md){
		margin-left: 0;
		margin-right: 0;
		margin-left: rem(-30);
		margin-right: rem(-30);
	}

	@include min-screen(em($maxWidth)){
		margin-left: prc(200, $maxWidthContainer);
		margin-right: prc(200, $maxWidthContainer);
	}

	.tiny-carousel__nav {
		@include max-screen($md){
			display: none;
		}
	}

	.tns-prev{

		@include min-screen(em($maxWidth)){

			left: prc(-300, $maxWidthContainer);
		}
	}
	.tns-next{

		@include min-screen(em($maxWidth)){
			right: prc(-300, $maxWidthContainer);

		}
	}
	
}


.tiny-sldr {}
.cacao__slider {
}
.cacao__slide {
	// aspect-ratio: 965.33 / 724;
	aspect-ratio: 4200 / 3000;

	@include max-screen($lgg){
		// aspect-ratio: 700 / 545;
	}
	@include max-screen($md){
		aspect-ratio: 360 / 282;
	}
}
._fit-img {}
/*--------------------END cacao----------------------*/ 