/*--------------------self-service----------------------*/
.self-service {
	position: relative;
	padding-top: rem(79);
	padding-bottom: rem(218.61);
	z-index: 2;
	background-color: $gray-bg;

	@include max-screen($lgg){
		padding-top: rem(37);
		padding-bottom: rem(64.51);
	}
}
.self-service__wrapper {}
.self-service__top {
	padding-left: prc(200, $maxWidth);
	margin-bottom: rem(116.82);

	@include max-screen($lgg){
		margin-bottom: rem(38.59);
		padding-left: prc(260, 1024);
	}
	@include max-screen($md){
		margin-bottom: rem(25);
	}
	@include max-screen($sm){
		
		padding-left: 0;
	}
}
.self-service__text {
	font-size: rem(22);
	line-height: 205%;

	@include max-screen($lgg){
		margin-left: 0;
		font-size: rem(19);
		line-height: calc(41 / 19);
	}
	@include max-screen($sm){
		font-size: rem(18);
		// line-height: 220%;
	}

	a, span{
		
		font-size: rem(36);
		color: $accent;
		text-decoration: none;
		line-height: 139%;
		font-family: $light;
		// font-weight: 300;
	

		@include max-screen($lgg){
			font-size: rem(33);
			// line-height: 150%;
			line-height: calc(41 / 33);
		}

		@include max-screen($sm){
			font-size: rem(30);
			line-height: 110%;
			margin-left: rem(3);
		}


		@include min-screen($sm){
			margin-left: rem(8);
		}
		@include min-screen($sm){
			margin-left: rem(2);
		}

		@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
					font-family: $med;
				}
			}
	}
}
$itemsWidth: 1012;
.self-service__items {
	// outline: 1px solid red;
	margin-left: prc(100, $maxWidth);
	margin-right: prc(100, $maxWidth);
	// @include flex-cols-gap(48, 0, 4, ($md: 1), 'self-service__item ', 1);
	display: grid;
	grid-template-columns: prc(165, $itemsWidth) prc(243, $itemsWidth) prc(216, $itemsWidth) 1fr;
	column-gap: rem(48);
	// justify-content: space-between;

	@include max-screen($lgg){
		grid-template-columns: repeat(4, 1fr);
		margin-left: 0;
		margin-right: 0;

		column-gap: rem(20);
	}

	@include max-screen($md){
		grid-template-columns: auto;
		row-gap: rem(30);
		max-width: prc(300, 360);
		margin-left: auto;
		margin-right: auto;
	}

	@include max-screen($xss){
		// padding-left: rem(15);
		// padding-right: rem(15);
	}
	@include max-screen($mins){
		padding-left: 0;
		padding-right: 0;
	}
	
}
.self-service__item {

}
.item-self-service {

	&:nth-child(1){
		.item-self-service__icon {

			@include min-screen($md){
				width: rem(75);
			}
			@include min-screen($lgg){
				width: rem(110);
			}
		}
		.item-self-service__text{

			@include max-screen($lgg){
				padding-left: rem(67);
			}
			@include max-screen($md){
				padding-left: 0;
			}

		}
	}

	&:nth-child(3){
		
		.item-self-service__icon {
			padding-bottom: rem(8.75);
			
			@include max-screen($lgg){
				position: relative;
				left: rem(-25);
				padding-bottom: rem(6);
			}
			@include max-screen($md){
				position: staic;
				left: auto;
				padding-bottom: 0;
			}
			@include max-screen($sm){
				margin-top: rem(-10);
			}

			@include min-screen($md){
				width: rem(65);	
			}
			@include min-screen($lgg){
				width: rem(95);	
			}
		}
	}
	&:nth-child(4){
		
		@include min-screen($lgg){
			
			padding-left: rem(30);
		}

		@include min-screen($md){
			
			padding-left: 0;
		}

		.item-self-service__icon{
			padding-bottom: rem(8.75);
			margin-left: rem(18);

			@include max-screen($lgg){
				padding-bottom: rem(6);

			}
			@include max-screen($md){
				margin-left: auto;
				padding-bottom: 0;

			}



			@include min-screen($lgg){
				margin-left: rem(29.08);
				
			}
		}
	}

	@include max-screen($md){
		text-align: center;
	}

}
.item-self-service__icon {
	width: calc((rem(98.88) + rem(86.23) + rem(92.01) + rem(87.51)) / 4);
	height: rem(115.13);
	display: flex;
	align-items: flex-end;
	margin-bottom: rem(63.91);
	margin-left: auto;
	margin-right: auto;

	@include max-screen($lgg){
		width: calc((rem(65.12) + rem(57.25) + rem(62.57) + rem(59.51)) / 4);
		margin-bottom: rem(48);		
		height: rem(78.3);
	}

	@include max-screen($md){
		width: calc((rem(45.36) + rem(43.96) + rem(46.85) + rem(44.55)) / 4);
		margin-bottom: rem(19);
		height: rem(58.66);

	}

	img{
		width: 100%;
		// display: block;
	}
}
.item-self-service__text {
	line-height: 140%;

	@include max-screen($lgg){
		font-size: rem(15);
	}
	@include max-screen($sm){
		font-size: rem(20);
		line-height: normal;
	}

	br{
		@include min-screen($sm){
			display: none;
		}
	}
}
/*--------------------END self-service----------------------*/ 